<div class="h-feed">
<data class="p-name" value="pixelfed on mastodon.social">
<div class="account__section-headline">
<a class="active" href="https://mastodon.social/@pixelfed">Toots</a>
<a class="" href="https://mastodon.social/@pixelfed/with_replies">Toots and replies</a>
<a class="" href="https://mastodon.social/@pixelfed/media">Media</a>
</div>
<div class="activity-stream">
<div class="entry h-entry">
<div class="status__prepend">
<div class="status__prepend-icon-wrapper">
<i class="status__prepend-icon fa fa-fw fa-thumb-tack"></i>
</div>
<span>
Pinned toot
</span>
</div>
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.social/@pixelfed/101232877790019192"><time class="time-ago" datetime="2018-12-13T08:52:08Z" title="December 13, 2018, 9:52 AM">5d</time>
</a><data class="dt-published" value="2018-12-13T08:52:08+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.social/@pixelfed"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/354/718/original/bc09f9ddbf551808.png" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">pixelfed</strong>
</bdi>
&nbsp;
<span class="display-name__account">
@pixelfed@mastodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p>The new tumblr inspired "micro" UI is ready! It will be released with federation support. <a href="https://mastodon.social/tags/pixelfed" class="mention hashtag" rel="tag">#<span>pixelfed</span></a> <a href="https://mastodon.social/tags/tumblr" class="mention hashtag" rel="tag">#<span>tumblr</span></a></p></div></div>
<div data-component="MediaGallery" data-props="{&quot;height&quot;:343,&quot;sensitive&quot;:false,&quot;autoPlayGif&quot;:false,&quot;media&quot;:[{&quot;id&quot;:&quot;8834383&quot;,&quot;type&quot;:&quot;image&quot;,&quot;url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/834/383/original/d0de625378dda317.png&quot;,&quot;preview_url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/834/383/small/d0de625378dda317.png&quot;,&quot;remote_url&quot;:null,&quot;text_url&quot;:&quot;https://mastodon.social/media/5cmHStWZvL-4hVVCcX0&quot;,&quot;meta&quot;:{&quot;original&quot;:{&quot;width&quot;:1534,&quot;height&quot;:1068,&quot;size&quot;:&quot;1534x1068&quot;,&quot;aspect&quot;:1.4363295880149813},&quot;small&quot;:{&quot;width&quot;:479,&quot;height&quot;:333,&quot;size&quot;:&quot;479x333&quot;,&quot;aspect&quot;:1.4384384384384385}},&quot;description&quot;:&quot;pixelfed micro UI&quot;},{&quot;id&quot;:&quot;8834391&quot;,&quot;type&quot;:&quot;image&quot;,&quot;url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/834/391/original/090e2354ccef5352.png&quot;,&quot;preview_url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/834/391/small/090e2354ccef5352.png&quot;,&quot;remote_url&quot;:null,&quot;text_url&quot;:&quot;https://mastodon.social/media/qekBR9X00fnciwPM-s8&quot;,&quot;meta&quot;:{&quot;original&quot;:{&quot;width&quot;:1534,&quot;height&quot;:1068,&quot;size&quot;:&quot;1534x1068&quot;,&quot;aspect&quot;:1.4363295880149813},&quot;small&quot;:{&quot;width&quot;:479,&quot;height&quot;:333,&quot;size&quot;:&quot;479x333&quot;,&quot;aspect&quot;:1.4384384384384385}},&quot;description&quot;:&quot;pixelfed classic UI&quot;}]}"><div class="media-gallery" style="height: 314.438px;"><div class="spoiler-button spoiler-button--visible"><button aria-label="Toggle visibility" title="Toggle visibility" class="icon-button overlayed" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 18px;" tabindex="0"><i class="fa fa-fw fa-eye" aria-hidden="true"></i></button></div><div class="media-gallery__item" style="left: auto; top: auto; right: 2px; bottom: auto; width: 50%; height: 100%;"><a class="media-gallery__item-thumbnail" href="https://files.mastodon.social/media_attachments/files/008/834/383/original/d0de625378dda317.png" target="_blank"><img src="https://files.mastodon.social/media_attachments/files/008/834/383/small/d0de625378dda317.png" srcset="https://files.mastodon.social/media_attachments/files/008/834/383/original/d0de625378dda317.png 1534w, https://files.mastodon.social/media_attachments/files/008/834/383/small/d0de625378dda317.png 479w" alt="pixelfed micro UI" title="pixelfed micro UI" style="object-position: 50% 50%;" sizes="279.5px"></a></div><div class="media-gallery__item" style="left: 2px; top: auto; right: auto; bottom: auto; width: 50%; height: 100%;"><a class="media-gallery__item-thumbnail" href="https://files.mastodon.social/media_attachments/files/008/834/391/original/090e2354ccef5352.png" target="_blank"><img src="https://files.mastodon.social/media_attachments/files/008/834/391/small/090e2354ccef5352.png" srcset="https://files.mastodon.social/media_attachments/files/008/834/391/original/090e2354ccef5352.png 1534w, https://files.mastodon.social/media_attachments/files/008/834/391/small/090e2354ccef5352.png 479w" alt="pixelfed classic UI" title="pixelfed classic UI" style="object-position: 50% 50%;" sizes="279.5px"></a></div></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101232877790019192"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1+</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101232877790019192"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101232877790019192"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry h-entry">
<div class="status__prepend">
<div class="status__prepend-icon-wrapper">
<i class="status__prepend-icon fa fa-fw fa-thumb-tack"></i>
</div>
<span>
Pinned toot
</span>
</div>
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.social/@pixelfed/101204332099526273"><time class="time-ago" datetime="2018-12-08T07:52:35Z" title="December 8, 2018, 8:52 AM">Dec 8</time>
</a><data class="dt-published" value="2018-12-08T07:52:35+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.social/@pixelfed"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/354/718/original/bc09f9ddbf551808.png" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">pixelfed</strong>
</bdi>
&nbsp;
<span class="display-name__account">
@pixelfed@mastodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p>We are an ethical alternative to Instagram.</p><p>The project is still young, but we are getting close to a polished v1.0 release with federation support!</p><p>We can't wait to join the fediverse. <img draggable="false" class="emojione" alt="â¤ï¸" title=":heart:" src="/emoji/2764.svg"> <a href="https://mastodon.social/tags/pixelfed" class="mention hashtag" rel="tag">#<span>pixelfed</span></a></p></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101204332099526273"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1+</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101204332099526273"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101204332099526273"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry h-entry">
<div class="status__prepend">
<div class="status__prepend-icon-wrapper">
<i class="status__prepend-icon fa fa-fw fa-thumb-tack"></i>
</div>
<span>
Pinned toot
</span>
</div>
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.social/@pixelfed/100075930814696226"><time class="time-ago" datetime="2018-05-23T01:05:18Z" title="May 23, 2018, 3:05 AM">May 23</time>
</a><data class="dt-published" value="2018-05-23T01:05:18+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.social/@pixelfed"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/354/718/original/bc09f9ddbf551808.png" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">pixelfed</strong>
</bdi>
&nbsp;
<span class="display-name__account">
@pixelfed@mastodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p>"standing on the shoulders of giants"</p><p>This project would not be possible without the pioneering work of evanp and <span class="h-card"><a href="https://octodon.social/@cwebber" class="u-url mention">@<span>cwebber</span></a></span> along with <span class="h-card"><a href="https://mastodon.social/@Gargron" class="u-url mention">@<span>Gargron</span></a></span> and <span class="h-card"><a href="https://social.umeahackerspace.se/mmn" class="u-url mention">@<span>mmn</span></a></span> and many others!</p><p>I really look forward to the May 31st beta launch of <a href="https://pixelfed.org" rel="nofollow noopener" target="_blank"><span class="invisible">https://</span><span class="">pixelfed.org</span><span class="invisible"></span></a></p></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/100075930814696226"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/100075930814696226"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/100075930814696226"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry h-entry">
<div class="status__prepend">
<div class="status__prepend-icon-wrapper">
<i class="status__prepend-icon fa fa-fw fa-thumb-tack"></i>
</div>
<span>
Pinned toot
</span>
</div>
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.social/@pixelfed/100308734739990713"><time class="time-ago" datetime="2018-07-03T03:50:24Z" title="July 3, 2018, 5:50 AM">Jul 3</time>
</a><data class="dt-published" value="2018-07-03T03:50:24+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.social/@pixelfed"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/354/718/original/bc09f9ddbf551808.png" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">pixelfed</strong>
</bdi>
&nbsp;
<span class="display-name__account">
@pixelfed@mastodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p>If you have any questions about, or want to stay informed about <a href="https://pixelfed.social" rel="nofollow noopener" target="_blank"><span class="invisible">https://</span><span class="">pixelfed.social</span><span class="invisible"></span></a>, please follow <span class="h-card"><a href="https://mstdn.io/@pixelfed" class="u-url mention">@<span>pixelfed</span></a></span>. </p><p>I will not be posting anymore pixelfed.social updates on this account because this account is meant for the project, and we do not endorse any instance! <a href="https://mastodon.social/tags/pixelfed" class="mention hashtag" rel="tag">#<span>pixelfed</span></a></p></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/100308734739990713"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">0</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/100308734739990713"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/100308734739990713"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>

<div class="entry h-entry">
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.social/@pixelfed/101260933898734041"><time class="time-ago" datetime="2018-12-18T07:47:10Z" title="December 18, 2018, 8:47 AM">1h</time>
</a><data class="dt-published" value="2018-12-18T07:47:10+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.social/@pixelfed"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/354/718/original/bc09f9ddbf551808.png" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">pixelfed</strong>
</bdi>
&nbsp;
<span class="display-name__account">
@pixelfed@mastodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p>Hello Fediverse,</p><p>Today we have been testing federation support between mastodon/pleroma and pixelfed with great results.</p><p>We will post an update tomorrow with more info! <img draggable="false" class="emojione" alt=":pixelfed:" title=":pixelfed:" src="https://files.mastodon.social/custom_emojis/images/000/068/773/static/pixelfed-icon-color.png"> <a href="https://mastodon.social/tags/pixelfed" class="mention hashtag" rel="tag">#<span>pixelfed</span></a> <a href="https://mastodon.social/tags/fediverse" class="mention hashtag" rel="tag">#<span>fediverse</span></a></p></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101260933898734041"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1+</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101260933898734041"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101260933898734041"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry entry-reblog h-cite">
<div class="status__prepend">
<div class="status__prepend-icon-wrapper">
<i class="status__prepend-icon fa fa-fw fa-retweet"></i>
</div>
<span>
<a class="status__display-name muted" href="https://mastodon.social/@pixelfed"><bdi>
<strong class="emojify">pixelfed</strong>
</bdi>
</a>boosted
</span>
</div>
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.social/@dansup/101260121528990706"><time class="time-ago" datetime="2018-12-18T04:20:34Z" title="December 18, 2018, 5:20 AM">5h</time>
</a><data class="dt-published" value="2018-12-18T04:20:34+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.social/@dansup"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/016/041/original/b81d7c555a9c073b.jpg" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">dansup <img draggable="false" class="emojione" alt="ðŸŽ…" title=":santa:" src="/emoji/1f385.svg"></strong>
</bdi>
&nbsp;
<span class="display-name__account">
@dansup@mastodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p><img draggable="false" class="emojione" alt=":pixelfed:" title=":pixelfed:" src="https://files.mastodon.social/custom_emojis/images/000/068/773/static/pixelfed-icon-color.png"> federation testing is going well. Still a few minor things to fix but I am pretty confident it will be released soon! <a href="https://mastodon.social/tags/pixelfed" class="mention hashtag" rel="tag">#<span>pixelfed</span></a></p></div></div>
<div data-component="MediaGallery" data-props="{&quot;height&quot;:343,&quot;sensitive&quot;:false,&quot;autoPlayGif&quot;:false,&quot;media&quot;:[{&quot;id&quot;:&quot;9025642&quot;,&quot;type&quot;:&quot;image&quot;,&quot;url&quot;:&quot;https://files.mastodon.social/media_attachments/files/009/025/642/original/ffadb8f8e45369e3.png&quot;,&quot;preview_url&quot;:&quot;https://files.mastodon.social/media_attachments/files/009/025/642/small/ffadb8f8e45369e3.png&quot;,&quot;remote_url&quot;:null,&quot;text_url&quot;:&quot;https://mastodon.social/media/M90cC9Wh80XChhk6UGY&quot;,&quot;meta&quot;:{&quot;original&quot;:{&quot;width&quot;:1554,&quot;height&quot;:1054,&quot;size&quot;:&quot;1554x1054&quot;,&quot;aspect&quot;:1.4743833017077799},&quot;small&quot;:{&quot;width&quot;:485,&quot;height&quot;:329,&quot;size&quot;:&quot;485x329&quot;,&quot;aspect&quot;:1.4741641337386018}},&quot;description&quot;:&quot;pixelfed screenshot&quot;}]}"><div class="media-gallery" style="height: 314.438px;"><div class="spoiler-button spoiler-button--visible"><button aria-label="Toggle visibility" title="Toggle visibility" class="icon-button overlayed" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 18px;" tabindex="0"><i class="fa fa-fw fa-eye" aria-hidden="true"></i></button></div><div class="media-gallery__item" style="left: auto; top: auto; right: auto; bottom: auto; width: 100%; height: 100%;"><a class="media-gallery__item-thumbnail" href="https://files.mastodon.social/media_attachments/files/009/025/642/original/ffadb8f8e45369e3.png" target="_blank"><img src="https://files.mastodon.social/media_attachments/files/009/025/642/small/ffadb8f8e45369e3.png" srcset="https://files.mastodon.social/media_attachments/files/009/025/642/original/ffadb8f8e45369e3.png 1554w, https://files.mastodon.social/media_attachments/files/009/025/642/small/ffadb8f8e45369e3.png 485w" alt="pixelfed screenshot" title="pixelfed screenshot" style="object-position: 50% 50%;" sizes="559px"></a></div></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101260121528990706"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1+</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101260121528990706"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101260121528990706"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry entry-reblog h-cite">
<div class="status__prepend">
<div class="status__prepend-icon-wrapper">
<i class="status__prepend-icon fa fa-fw fa-retweet"></i>
</div>
<span>
<a class="status__display-name muted" href="https://mastodon.social/@pixelfed"><bdi>
<strong class="emojify">pixelfed</strong>
</bdi>
</a>boosted
</span>
</div>
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://prismo.news/posts/139"><time class="time-ago" datetime="2018-12-04T11:09:51Z" title="December 4, 2018, 12:09 PM">Dec 4</time>
</a><data class="dt-published" value="2018-12-04T11:09:51+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://prismo.news/@mxb"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/566/502/original/efb0457282434194.jpg" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">mxb</strong>
</bdi>
&nbsp;
<span class="display-name__account">
@mxb@prismo.news

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang=""><p>Prismo v0.3.0 released! <img draggable="false" class="emojione" alt="ðŸŽ‰" title=":tada:" src="/emoji/1f389.svg"> <a href="https://prismo.news/posts/139" rel="nofollow noopener" target="_blank"><span class="invisible">https://</span><span class="">prismo.news/posts/139</span><span class="invisible"></span></a></p></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101182459485968801"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1+</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101182459485968801"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101182459485968801"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry h-entry">
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.social/@pixelfed/101238609862039120"><time class="time-ago" datetime="2018-12-14T09:09:52Z" title="December 14, 2018, 10:09 AM">4d</time>
</a><data class="dt-published" value="2018-12-14T09:09:52+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.social/@pixelfed"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/354/718/original/bc09f9ddbf551808.png" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">pixelfed</strong>
</bdi>
&nbsp;
<span class="display-name__account">
@pixelfed@mastodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p>Tumblr import shipping soon! <img draggable="false" class="emojione" alt="ðŸš€" title=":rocket:" src="/emoji/1f680.svg"></p></div></div>
<div data-component="MediaGallery" data-props="{&quot;height&quot;:343,&quot;sensitive&quot;:false,&quot;autoPlayGif&quot;:false,&quot;media&quot;:[{&quot;id&quot;:&quot;8873656&quot;,&quot;type&quot;:&quot;image&quot;,&quot;url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/873/656/original/3c6569cdae9cf4ad.png&quot;,&quot;preview_url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/873/656/small/3c6569cdae9cf4ad.png&quot;,&quot;remote_url&quot;:null,&quot;text_url&quot;:&quot;https://mastodon.social/media/e2e4Uer43vznrISPr9U&quot;,&quot;meta&quot;:{&quot;original&quot;:{&quot;width&quot;:1407,&quot;height&quot;:1165,&quot;size&quot;:&quot;1407x1165&quot;,&quot;aspect&quot;:1.207725321888412},&quot;small&quot;:{&quot;width&quot;:440,&quot;height&quot;:364,&quot;size&quot;:&quot;440x364&quot;,&quot;aspect&quot;:1.2087912087912087}},&quot;description&quot;:&quot;pixelfed import settings screenshot&quot;}]}"><div class="media-gallery" style="height: 314.438px;"><div class="spoiler-button spoiler-button--visible"><button aria-label="Toggle visibility" title="Toggle visibility" class="icon-button overlayed" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 18px;" tabindex="0"><i class="fa fa-fw fa-eye" aria-hidden="true"></i></button></div><div class="media-gallery__item" style="left: auto; top: auto; right: auto; bottom: auto; width: 100%; height: 100%;"><a class="media-gallery__item-thumbnail" href="https://files.mastodon.social/media_attachments/files/008/873/656/original/3c6569cdae9cf4ad.png" target="_blank"><img src="https://files.mastodon.social/media_attachments/files/008/873/656/small/3c6569cdae9cf4ad.png" srcset="https://files.mastodon.social/media_attachments/files/008/873/656/original/3c6569cdae9cf4ad.png 1407w, https://files.mastodon.social/media_attachments/files/008/873/656/small/3c6569cdae9cf4ad.png 440w" alt="pixelfed import settings screenshot" title="pixelfed import settings screenshot" style="object-position: 50% 50%;" sizes="559px"></a></div></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101238609862039120"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1+</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101238609862039120"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101238609862039120"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry h-entry">
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.social/@pixelfed/101232877790019192"><time class="time-ago" datetime="2018-12-13T08:52:08Z" title="December 13, 2018, 9:52 AM">5d</time>
</a><data class="dt-published" value="2018-12-13T08:52:08+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.social/@pixelfed"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/354/718/original/bc09f9ddbf551808.png" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">pixelfed</strong>
</bdi>
&nbsp;
<span class="display-name__account">
@pixelfed@mastodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p>The new tumblr inspired "micro" UI is ready! It will be released with federation support. <a href="https://mastodon.social/tags/pixelfed" class="mention hashtag" rel="tag">#<span>pixelfed</span></a> <a href="https://mastodon.social/tags/tumblr" class="mention hashtag" rel="tag">#<span>tumblr</span></a></p></div></div>
<div data-component="MediaGallery" data-props="{&quot;height&quot;:343,&quot;sensitive&quot;:false,&quot;autoPlayGif&quot;:false,&quot;media&quot;:[{&quot;id&quot;:&quot;8834383&quot;,&quot;type&quot;:&quot;image&quot;,&quot;url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/834/383/original/d0de625378dda317.png&quot;,&quot;preview_url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/834/383/small/d0de625378dda317.png&quot;,&quot;remote_url&quot;:null,&quot;text_url&quot;:&quot;https://mastodon.social/media/5cmHStWZvL-4hVVCcX0&quot;,&quot;meta&quot;:{&quot;original&quot;:{&quot;width&quot;:1534,&quot;height&quot;:1068,&quot;size&quot;:&quot;1534x1068&quot;,&quot;aspect&quot;:1.4363295880149813},&quot;small&quot;:{&quot;width&quot;:479,&quot;height&quot;:333,&quot;size&quot;:&quot;479x333&quot;,&quot;aspect&quot;:1.4384384384384385}},&quot;description&quot;:&quot;pixelfed micro UI&quot;},{&quot;id&quot;:&quot;8834391&quot;,&quot;type&quot;:&quot;image&quot;,&quot;url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/834/391/original/090e2354ccef5352.png&quot;,&quot;preview_url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/834/391/small/090e2354ccef5352.png&quot;,&quot;remote_url&quot;:null,&quot;text_url&quot;:&quot;https://mastodon.social/media/qekBR9X00fnciwPM-s8&quot;,&quot;meta&quot;:{&quot;original&quot;:{&quot;width&quot;:1534,&quot;height&quot;:1068,&quot;size&quot;:&quot;1534x1068&quot;,&quot;aspect&quot;:1.4363295880149813},&quot;small&quot;:{&quot;width&quot;:479,&quot;height&quot;:333,&quot;size&quot;:&quot;479x333&quot;,&quot;aspect&quot;:1.4384384384384385}},&quot;description&quot;:&quot;pixelfed classic UI&quot;}]}"><div class="media-gallery" style="height: 314.438px;"><div class="spoiler-button spoiler-button--visible"><button aria-label="Toggle visibility" title="Toggle visibility" class="icon-button overlayed" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 18px;" tabindex="0"><i class="fa fa-fw fa-eye" aria-hidden="true"></i></button></div><div class="media-gallery__item" style="left: auto; top: auto; right: 2px; bottom: auto; width: 50%; height: 100%;"><a class="media-gallery__item-thumbnail" href="https://files.mastodon.social/media_attachments/files/008/834/383/original/d0de625378dda317.png" target="_blank"><img src="https://files.mastodon.social/media_attachments/files/008/834/383/small/d0de625378dda317.png" srcset="https://files.mastodon.social/media_attachments/files/008/834/383/original/d0de625378dda317.png 1534w, https://files.mastodon.social/media_attachments/files/008/834/383/small/d0de625378dda317.png 479w" alt="pixelfed micro UI" title="pixelfed micro UI" style="object-position: 50% 50%;" sizes="279.5px"></a></div><div class="media-gallery__item" style="left: 2px; top: auto; right: auto; bottom: auto; width: 50%; height: 100%;"><a class="media-gallery__item-thumbnail" href="https://files.mastodon.social/media_attachments/files/008/834/391/original/090e2354ccef5352.png" target="_blank"><img src="https://files.mastodon.social/media_attachments/files/008/834/391/small/090e2354ccef5352.png" srcset="https://files.mastodon.social/media_attachments/files/008/834/391/original/090e2354ccef5352.png 1534w, https://files.mastodon.social/media_attachments/files/008/834/391/small/090e2354ccef5352.png 479w" alt="pixelfed classic UI" title="pixelfed classic UI" style="object-position: 50% 50%;" sizes="279.5px"></a></div></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101232877790019192"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1+</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101232877790019192"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101232877790019192"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry h-entry">
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.social/@pixelfed/101226606221222761"><time class="time-ago" datetime="2018-12-12T06:17:11Z" title="December 12, 2018, 7:17 AM">6d</time>
</a><data class="dt-published" value="2018-12-12T06:17:11+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.social/@pixelfed"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/354/718/original/bc09f9ddbf551808.png" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">pixelfed</strong>
</bdi>
&nbsp;
<span class="display-name__account">
@pixelfed@mastodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p>13 days until Christmas! <img draggable="false" class="emojione" alt="ðŸŽ„" title=":christmas_tree:" src="/emoji/1f384.svg"> <img draggable="false" class="emojione" alt="â˜ƒï¸" title=":snowman:" src="/emoji/2603.svg"> <img draggable="false" class="emojione" alt=":pixelfed:" title=":pixelfed:" src="https://files.mastodon.social/custom_emojis/images/000/068/773/static/pixelfed-icon-color.png"></p></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101226606221222761"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1+</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101226606221222761"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101226606221222761"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry entry-reblog h-cite">
<div class="status__prepend">
<div class="status__prepend-icon-wrapper">
<i class="status__prepend-icon fa fa-fw fa-retweet"></i>
</div>
<span>
<a class="status__display-name muted" href="https://mastodon.social/@pixelfed"><bdi>
<strong class="emojify">pixelfed</strong>
</bdi>
</a>boosted
</span>
</div>
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.social/@dansup/101226453626714906"><time class="time-ago" datetime="2018-12-12T05:38:23Z" title="December 12, 2018, 6:38 AM">6d</time>
</a><data class="dt-published" value="2018-12-12T05:38:23+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.social/@dansup"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/016/041/original/b81d7c555a9c073b.jpg" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">dansup <img draggable="false" class="emojione" alt="ðŸŽ…" title=":santa:" src="/emoji/1f385.svg"></strong>
</bdi>
&nbsp;
<span class="display-name__account">
@dansup@mastodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p>The Micro <img draggable="false" class="emojione" alt=":pixelfed:" title=":pixelfed:" src="https://files.mastodon.social/custom_emojis/images/000/068/773/static/pixelfed-icon-color.png"> UI is about 60% done! </p><p>Wouldn't it be awesome if this launched with federation on December 17th? <a href="https://mastodon.social/tags/pixelfed" class="mention hashtag" rel="tag">#<span>pixelfed</span></a></p></div></div>
<div data-component="MediaGallery" data-props="{&quot;height&quot;:343,&quot;sensitive&quot;:false,&quot;autoPlayGif&quot;:false,&quot;media&quot;:[{&quot;id&quot;:&quot;8789861&quot;,&quot;type&quot;:&quot;gifv&quot;,&quot;url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/789/861/original/4977afc538796086.qt&quot;,&quot;preview_url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/789/861/small/4977afc538796086.png&quot;,&quot;remote_url&quot;:null,&quot;text_url&quot;:&quot;https://mastodon.social/media/FXb1mWLh8Sg4EqH1yNk&quot;,&quot;meta&quot;:{&quot;length&quot;:&quot;0:00:24.73&quot;,&quot;duration&quot;:24.73,&quot;fps&quot;:15,&quot;size&quot;:&quot;2962x1888&quot;,&quot;width&quot;:2962,&quot;height&quot;:1888,&quot;aspect&quot;:1.56885593220339,&quot;original&quot;:{&quot;width&quot;:2962,&quot;height&quot;:1888,&quot;frame_rate&quot;:&quot;15/1&quot;,&quot;duration&quot;:24.734,&quot;bitrate&quot;:856421},&quot;small&quot;:{&quot;width&quot;:400,&quot;height&quot;:255,&quot;size&quot;:&quot;400x255&quot;,&quot;aspect&quot;:1.5686274509803921}},&quot;description&quot;:&quot;pixelfed micro UI&quot;}]}"><div class="media-gallery" style="height: 314.438px;"><div class="spoiler-button spoiler-button--visible"><button aria-label="Toggle visibility" title="Toggle visibility" class="icon-button overlayed" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 18px;" tabindex="0"><i class="fa fa-fw fa-eye" aria-hidden="true"></i></button></div><div class="media-gallery__item" style="left: auto; top: auto; right: auto; bottom: auto; width: 100%; height: 100%;"><div class="media-gallery__gifv"><video class="media-gallery__item-gifv-thumbnail" aria-label="pixelfed micro UI" title="pixelfed micro UI" role="application" src="https://files.mastodon.social/media_attachments/files/008/789/861/original/4977afc538796086.qt" loop=""></video><span class="media-gallery__gifv__label">GIF</span></div></div></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101226453626714906"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1+</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101226453626714906"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101226453626714906"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry h-entry">
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.social/@pixelfed/101224339035412185"><time class="time-ago" datetime="2018-12-11T20:40:37Z" title="December 11, 2018, 9:40 PM">6d</time>
</a><data class="dt-published" value="2018-12-11T20:40:37+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.social/@pixelfed"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/354/718/original/bc09f9ddbf551808.png" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">pixelfed</strong>
</bdi>
&nbsp;
<span class="display-name__account">
@pixelfed@mastodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p>New alternative UI shipping soon! We love our current UI, but some users may prefer a different one. <img draggable="false" class="emojione" alt="ðŸ˜‰" title=":wink:" src="/emoji/1f609.svg">  <a href="https://mastodon.social/tags/pixelfed" class="mention hashtag" rel="tag">#<span>pixelfed</span></a></p></div></div>
<div data-component="MediaGallery" data-props="{&quot;height&quot;:343,&quot;sensitive&quot;:false,&quot;autoPlayGif&quot;:false,&quot;media&quot;:[{&quot;id&quot;:&quot;8774625&quot;,&quot;type&quot;:&quot;image&quot;,&quot;url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/774/625/original/c71cbccf414c766f.png&quot;,&quot;preview_url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/774/625/small/c71cbccf414c766f.png&quot;,&quot;remote_url&quot;:null,&quot;text_url&quot;:&quot;https://mastodon.social/media/ZyTXPb8uwpA_FGNApi4&quot;,&quot;meta&quot;:{&quot;original&quot;:{&quot;width&quot;:1455,&quot;height&quot;:1126,&quot;size&quot;:&quot;1455x1126&quot;,&quot;aspect&quot;:1.2921847246891651},&quot;small&quot;:{&quot;width&quot;:455,&quot;height&quot;:352,&quot;size&quot;:&quot;455x352&quot;,&quot;aspect&quot;:1.2926136363636365}},&quot;description&quot;:&quot;pixelfed new UI&quot;}]}"><div class="media-gallery" style="height: 314.438px;"><div class="spoiler-button spoiler-button--visible"><button aria-label="Toggle visibility" title="Toggle visibility" class="icon-button overlayed" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 18px;" tabindex="0"><i class="fa fa-fw fa-eye" aria-hidden="true"></i></button></div><div class="media-gallery__item" style="left: auto; top: auto; right: auto; bottom: auto; width: 100%; height: 100%;"><a class="media-gallery__item-thumbnail" href="https://files.mastodon.social/media_attachments/files/008/774/625/original/c71cbccf414c766f.png" target="_blank"><img src="https://files.mastodon.social/media_attachments/files/008/774/625/small/c71cbccf414c766f.png" srcset="https://files.mastodon.social/media_attachments/files/008/774/625/original/c71cbccf414c766f.png 1455w, https://files.mastodon.social/media_attachments/files/008/774/625/small/c71cbccf414c766f.png 455w" alt="pixelfed new UI" title="pixelfed new UI" style="object-position: 50% 50%;" sizes="559px"></a></div></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101224339035412185"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1+</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101224339035412185"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101224339035412185"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry h-entry">
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.social/@pixelfed/101221128203558842"><time class="time-ago" datetime="2018-12-11T07:04:03Z" title="December 11, 2018, 8:04 AM">Dec 11</time>
</a><data class="dt-published" value="2018-12-11T07:04:03+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.social/@pixelfed"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/354/718/original/bc09f9ddbf551808.png" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">pixelfed</strong>
</bdi>
&nbsp;
<span class="display-name__account">
@pixelfed@mastodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p>soon.jpg <img draggable="false" class="emojione" alt=":pixelfed:" title=":pixelfed:" src="https://files.mastodon.social/custom_emojis/images/000/068/773/static/pixelfed-icon-color.png"></p></div></div>
<div data-component="Video" data-props="{&quot;src&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/752/534/original/4ef91a5f850acf4a.mp4&quot;,&quot;preview&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/752/534/small/4ef91a5f850acf4a.png&quot;,&quot;sensitive&quot;:false,&quot;width&quot;:610,&quot;height&quot;:343,&quot;inline&quot;:true,&quot;alt&quot;:null}"><div role="menuitem" class="video-player inline" tabindex="0" style="width: 559px; height: 314.438px;"><video src="https://files.mastodon.social/media_attachments/files/008/752/534/original/4ef91a5f850acf4a.mp4" poster="https://files.mastodon.social/media_attachments/files/008/752/534/small/4ef91a5f850acf4a.png" preload="none" loop="" role="button" tabindex="0" volume="0.5" width="559" height="314.4375"></video><button type="button" class="video-player__spoiler"><span class="video-player__spoiler__title"><span>Media hidden</span></span><span class="video-player__spoiler__subtitle"><span>Click to view</span></span></button><div class="video-player__controls active"><div class="video-player__seek"><div class="video-player__seek__buffer"></div><div class="video-player__seek__progress"></div><span class="video-player__seek__handle" tabindex="0"></span></div><div class="video-player__buttons-bar"><div class="video-player__buttons left"><button type="button" aria-label="Play"><i class="fa fa-fw fa-play"></i></button><button type="button" aria-label="Mute sound"><i class="fa fa-fw fa-volume-up"></i></button><div class="video-player__volume"><div class="video-player__volume__current" style="width: 25px;"></div><span class="video-player__volume__handle" tabindex="0" style="left: 95px;"></span></div></div><div class="video-player__buttons right"><button type="button" aria-label="Hide video"><i class="fa fa-fw fa-eye"></i></button><button type="button" aria-label="Expand video"><i class="fa fa-fw fa-expand"></i></button><button type="button" aria-label="Full screen"><i class="fa fa-fw fa-arrows-alt"></i></button></div></div></div></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101221128203558842"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1+</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101221128203558842"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101221128203558842"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry entry-reblog h-cite">
<div class="status__prepend">
<div class="status__prepend-icon-wrapper">
<i class="status__prepend-icon fa fa-fw fa-retweet"></i>
</div>
<span>
<a class="status__display-name muted" href="https://mastodon.social/@pixelfed"><bdi>
<strong class="emojify">pixelfed</strong>
</bdi>
</a>boosted
</span>
</div>
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.social/@dansup/101220574772798964"><time class="time-ago" datetime="2018-12-11T04:43:19Z" title="December 11, 2018, 5:43 AM">Dec 11</time>
</a><data class="dt-published" value="2018-12-11T04:43:19+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.social/@dansup"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/016/041/original/b81d7c555a9c073b.jpg" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">dansup <img draggable="false" class="emojione" alt="ðŸŽ…" title=":santa:" src="/emoji/1f385.svg"></strong>
</bdi>
&nbsp;
<span class="display-name__account">
@dansup@mastodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p>New UI updates shipped. <br> <img draggable="false" class="emojione" alt=":pixelfed:" title=":pixelfed:" src="https://files.mastodon.social/custom_emojis/images/000/068/773/static/pixelfed-icon-color.png"></p></div></div>
<div data-component="MediaGallery" data-props="{&quot;height&quot;:343,&quot;sensitive&quot;:false,&quot;autoPlayGif&quot;:false,&quot;media&quot;:[{&quot;id&quot;:&quot;8749092&quot;,&quot;type&quot;:&quot;image&quot;,&quot;url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/749/092/original/673daf574a8daf60.png&quot;,&quot;preview_url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/749/092/small/673daf574a8daf60.png&quot;,&quot;remote_url&quot;:null,&quot;text_url&quot;:&quot;https://mastodon.social/media/4Kc2iP1uceALwkOl-3g&quot;,&quot;meta&quot;:{&quot;original&quot;:{&quot;width&quot;:1609,&quot;height&quot;:1018,&quot;size&quot;:&quot;1609x1018&quot;,&quot;aspect&quot;:1.580550098231827},&quot;small&quot;:{&quot;width&quot;:503,&quot;height&quot;:318,&quot;size&quot;:&quot;503x318&quot;,&quot;aspect&quot;:1.5817610062893082}},&quot;description&quot;:&quot;pixelfed.social screenshot&quot;}]}"><div class="media-gallery" style="height: 314.438px;"><div class="spoiler-button spoiler-button--visible"><button aria-label="Toggle visibility" title="Toggle visibility" class="icon-button overlayed" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 18px;" tabindex="0"><i class="fa fa-fw fa-eye" aria-hidden="true"></i></button></div><div class="media-gallery__item" style="left: auto; top: auto; right: auto; bottom: auto; width: 100%; height: 100%;"><a class="media-gallery__item-thumbnail" href="https://files.mastodon.social/media_attachments/files/008/749/092/original/673daf574a8daf60.png" target="_blank"><img src="https://files.mastodon.social/media_attachments/files/008/749/092/small/673daf574a8daf60.png" srcset="https://files.mastodon.social/media_attachments/files/008/749/092/original/673daf574a8daf60.png 1609w, https://files.mastodon.social/media_attachments/files/008/749/092/small/673daf574a8daf60.png 503w" alt="pixelfed.social screenshot" title="pixelfed.social screenshot" style="object-position: 50% 50%;" sizes="559px"></a></div></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101220574772798964"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1+</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101220574772798964"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101220574772798964"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry entry-reblog h-cite">
<div class="status__prepend">
<div class="status__prepend-icon-wrapper">
<i class="status__prepend-icon fa fa-fw fa-retweet"></i>
</div>
<span>
<a class="status__display-name muted" href="https://mastodon.social/@pixelfed"><bdi>
<strong class="emojify">pixelfed</strong>
</bdi>
</a>boosted
</span>
</div>
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://octodon.social/@cwebber/101218460382635617"><time class="time-ago" datetime="2018-12-10T19:45:36Z" title="December 10, 2018, 8:45 PM">Dec 10</time>
</a><data class="dt-published" value="2018-12-10T19:45:36+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://octodon.social/@cwebber"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/127/008/original/fcfebbdb8e0bbf90.png" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">Christopher Lemmer Webber</strong>
</bdi>
&nbsp;
<span class="display-name__account">
@cwebber@octodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p><a href="https://octodon.social/tags/nextcloud" class="mention hashtag" rel="nofollow noopener" target="_blank">#<span>Nextcloud</span></a> introduces social features, joins the fediverse <a href="https://nextcloud.com/blog/nextcloud-introduces-social-features-joins-the-fediverse/" rel="nofollow noopener" target="_blank"><span class="invisible">https://</span><span class="ellipsis">nextcloud.com/blog/nextcloud-i</span><span class="invisible">ntroduces-social-features-joins-the-fediverse/</span></a> <a href="https://octodon.social/tags/activitypub" class="mention hashtag" rel="nofollow noopener" target="_blank">#<span>activitypub</span></a></p><p>Nextcloud's Frank Karlitschek was an early supporter of the ActivityPub standard and I remember well sitting across from him over coffee talking about how to get our projects to talk to each other.  Excited to see Nextcloud friends join the fediverse!</p></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101218460515733235"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1+</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101218460515733235"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101218460515733235"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry h-entry">
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.social/@pixelfed/101218363837874393"><time class="time-ago" datetime="2018-12-10T19:21:03Z" title="December 10, 2018, 8:21 PM">Dec 10</time>
</a><data class="dt-published" value="2018-12-10T19:21:03+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.social/@pixelfed"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/354/718/original/bc09f9ddbf551808.png" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">pixelfed</strong>
</bdi>
&nbsp;
<span class="display-name__account">
@pixelfed@mastodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p>We love the new plume project website!</p><p><a href="https://joinplu.me/" rel="nofollow noopener" target="_blank"><span class="invisible">https://</span><span class="">joinplu.me/</span><span class="invisible"></span></a></p><p>Great work <span class="h-card"><a href="https://social.wxcafe.net/@Bat" class="u-url mention">@<span>Bat</span></a></span> and team!</p></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101218363837874393"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101218363837874393"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101218363837874393"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry h-entry">
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.social/@pixelfed/101218267515667418"><time class="time-ago" datetime="2018-12-10T18:56:33Z" title="December 10, 2018, 7:56 PM">Dec 10</time>
</a><data class="dt-published" value="2018-12-10T18:56:33+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.social/@pixelfed"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/354/718/original/bc09f9ddbf551808.png" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">pixelfed</strong>
</bdi>
&nbsp;
<span class="display-name__account">
@pixelfed@mastodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p>Forget to add a description to your post? Maybe you picked the wrong filter?</p><p>No need to delete &amp; re-draft, just edit it. <a href="https://mastodon.social/tags/pixelfed" class="mention hashtag" rel="tag">#<span>pixelfed</span></a></p></div></div>
<div data-component="MediaGallery" data-props="{&quot;height&quot;:343,&quot;sensitive&quot;:false,&quot;autoPlayGif&quot;:false,&quot;media&quot;:[{&quot;id&quot;:&quot;8731110&quot;,&quot;type&quot;:&quot;gifv&quot;,&quot;url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/731/110/original/78271275ec2b94d5.mp4&quot;,&quot;preview_url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/731/110/small/78271275ec2b94d5.png&quot;,&quot;remote_url&quot;:null,&quot;text_url&quot;:&quot;https://mastodon.social/media/F6xCqQMuNwNRwNnpU8Y&quot;,&quot;meta&quot;:{&quot;length&quot;:&quot;0:00:33.33&quot;,&quot;duration&quot;:33.33,&quot;fps&quot;:15,&quot;size&quot;:&quot;2172x1702&quot;,&quot;width&quot;:2172,&quot;height&quot;:1702,&quot;aspect&quot;:1.2761457109283196,&quot;original&quot;:{&quot;width&quot;:2172,&quot;height&quot;:1702,&quot;frame_rate&quot;:&quot;15/1&quot;,&quot;duration&quot;:33.334,&quot;bitrate&quot;:750208},&quot;small&quot;:{&quot;width&quot;:400,&quot;height&quot;:313,&quot;size&quot;:&quot;400x313&quot;,&quot;aspect&quot;:1.2779552715654952}},&quot;description&quot;:&quot;Screencast showing the ability to add a description to media after its uploaded.&quot;}]}"><div class="media-gallery" style="height: 314.438px;"><div class="spoiler-button spoiler-button--visible"><button aria-label="Toggle visibility" title="Toggle visibility" class="icon-button overlayed" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 18px;" tabindex="0"><i class="fa fa-fw fa-eye" aria-hidden="true"></i></button></div><div class="media-gallery__item" style="left: auto; top: auto; right: auto; bottom: auto; width: 100%; height: 100%;"><div class="media-gallery__gifv"><video class="media-gallery__item-gifv-thumbnail" aria-label="Screencast showing the ability to add a description to media after its uploaded." title="Screencast showing the ability to add a description to media after its uploaded." role="application" src="https://files.mastodon.social/media_attachments/files/008/731/110/original/78271275ec2b94d5.mp4" loop=""></video><span class="media-gallery__gifv__label">GIF</span></div></div></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101218267515667418"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1+</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101218267515667418"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101218267515667418"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry entry-reblog h-cite">
<div class="status__prepend">
<div class="status__prepend-icon-wrapper">
<i class="status__prepend-icon fa fa-fw fa-retweet"></i>
</div>
<span>
<a class="status__display-name muted" href="https://mastodon.social/@pixelfed"><bdi>
<strong class="emojify">pixelfed</strong>
</bdi>
</a>boosted
</span>
</div>
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.social/@dansup/101209638111141638"><time class="time-ago" datetime="2018-12-09T06:21:59Z" title="December 9, 2018, 7:21 AM">Dec 9</time>
</a><data class="dt-published" value="2018-12-09T06:21:59+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.social/@dansup"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/016/041/original/b81d7c555a9c073b.jpg" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">dansup <img draggable="false" class="emojione" alt="ðŸŽ…" title=":santa:" src="/emoji/1f385.svg"></strong>
</bdi>
&nbsp;
<span class="display-name__account">
@dansup@mastodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p>Before and After testing a new feature. <a href="https://mastodon.social/tags/pixeldev" class="mention hashtag" rel="tag">#<span>pixeldev</span></a></p></div></div>
<div data-component="MediaGallery" data-props="{&quot;height&quot;:343,&quot;sensitive&quot;:false,&quot;autoPlayGif&quot;:false,&quot;media&quot;:[{&quot;id&quot;:&quot;8644958&quot;,&quot;type&quot;:&quot;gifv&quot;,&quot;url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/644/958/original/8efe593503470cb8.mp4&quot;,&quot;preview_url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/644/958/small/8efe593503470cb8.png&quot;,&quot;remote_url&quot;:null,&quot;text_url&quot;:&quot;https://mastodon.social/media/MICdaUUw1ngsErjjHEc&quot;,&quot;meta&quot;:{&quot;length&quot;:&quot;0:00:01.68&quot;,&quot;duration&quot;:1.68,&quot;fps&quot;:14,&quot;size&quot;:&quot;348x298&quot;,&quot;width&quot;:348,&quot;height&quot;:298,&quot;aspect&quot;:1.167785234899329,&quot;original&quot;:{&quot;width&quot;:348,&quot;height&quot;:298,&quot;frame_rate&quot;:&quot;100/7&quot;,&quot;duration&quot;:1.68,&quot;bitrate&quot;:123338},&quot;small&quot;:{&quot;width&quot;:348,&quot;height&quot;:298,&quot;size&quot;:&quot;348x298&quot;,&quot;aspect&quot;:1.167785234899329}},&quot;description&quot;:null},{&quot;id&quot;:&quot;8645135&quot;,&quot;type&quot;:&quot;gifv&quot;,&quot;url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/645/135/original/29d6fea102dba6f8.mp4&quot;,&quot;preview_url&quot;:&quot;https://files.mastodon.social/media_attachments/files/008/645/135/small/29d6fea102dba6f8.png&quot;,&quot;remote_url&quot;:null,&quot;text_url&quot;:&quot;https://mastodon.social/media/FuCtTF-LrEWkMd7hrSM&quot;,&quot;meta&quot;:{&quot;length&quot;:&quot;0:00:01.65&quot;,&quot;duration&quot;:1.65,&quot;fps&quot;:23,&quot;size&quot;:&quot;268x504&quot;,&quot;width&quot;:268,&quot;height&quot;:504,&quot;aspect&quot;:0.5317460317460317,&quot;original&quot;:{&quot;width&quot;:268,&quot;height&quot;:504,&quot;frame_rate&quot;:&quot;277/12&quot;,&quot;duration&quot;:1.647,&quot;bitrate&quot;:205284},&quot;small&quot;:{&quot;width&quot;:213,&quot;height&quot;:400,&quot;size&quot;:&quot;213x400&quot;,&quot;aspect&quot;:0.5325}},&quot;description&quot;:null}]}"><div class="media-gallery" style="height: 314.438px;"><div class="spoiler-button spoiler-button--visible"><button aria-label="Toggle visibility" title="Toggle visibility" class="icon-button overlayed" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 18px;" tabindex="0"><i class="fa fa-fw fa-eye" aria-hidden="true"></i></button></div><div class="media-gallery__item" style="left: auto; top: auto; right: 2px; bottom: auto; width: 50%; height: 100%;"><div class="media-gallery__gifv"><video class="media-gallery__item-gifv-thumbnail" role="application" src="https://files.mastodon.social/media_attachments/files/008/644/958/original/8efe593503470cb8.mp4" loop=""></video><span class="media-gallery__gifv__label">GIF</span></div></div><div class="media-gallery__item" style="left: 2px; top: auto; right: auto; bottom: auto; width: 50%; height: 100%;"><div class="media-gallery__gifv"><video class="media-gallery__item-gifv-thumbnail" role="application" src="https://files.mastodon.social/media_attachments/files/008/645/135/original/29d6fea102dba6f8.mp4" loop=""></video><span class="media-gallery__gifv__label">GIF</span></div></div></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101209638111141638"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1+</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101209638111141638"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101209638111141638"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry h-entry">
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.social/@pixelfed/101209357346096591"><time class="time-ago" datetime="2018-12-09T05:10:34Z" title="December 9, 2018, 6:10 AM">Dec 9</time>
</a><data class="dt-published" value="2018-12-09T05:10:34+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.social/@pixelfed"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/354/718/original/bc09f9ddbf551808.png" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">pixelfed</strong>
</bdi>
&nbsp;
<span class="display-name__account">
@pixelfed@mastodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p>We just surpassed 4k followers! <img draggable="false" class="emojione" alt=":blobaww:" title=":blobaww:" src="https://files.mastodon.social/custom_emojis/images/000/011/739/static/blobaww.png"> </p><p>Thank you for supporting our project, it wouldn't be what it is today without this amazing community.</p><p><img draggable="false" class="emojione" alt="â¤ï¸" title=":heart:" src="/emoji/2764.svg"></p></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101209357346096591"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101209357346096591"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101209357346096591"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry entry-reblog h-cite">
<div class="status__prepend">
<div class="status__prepend-icon-wrapper">
<i class="status__prepend-icon fa fa-fw fa-retweet"></i>
</div>
<span>
<a class="status__display-name muted" href="https://mastodon.social/@pixelfed"><bdi>
<strong class="emojify">pixelfed</strong>
</bdi>
</a>boosted
</span>
</div>
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.social/@anfora/101206745792596067"><time class="time-ago" datetime="2018-12-08T18:06:25Z" title="December 8, 2018, 7:06 PM">Dec 8</time>
</a><data class="dt-published" value="2018-12-08T18:06:25+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.social/@anfora"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/387/725/original/8e9257bfb012523a.png" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">Anfora</strong>
</bdi>
&nbsp;
<span class="display-name__account">
@anfora@mastodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p>Ok I have now more positivity to start working again. I'm going to focus into finishing as many things as possible and then federation ( so I don't burn myself again) No more toots until it's ready. </p><p>I want to use this space to wish you all a happy December holidays :D</p></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101206745792596067"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1+</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101206745792596067"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101206745792596067"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry entry-reblog h-cite">
<div class="status__prepend">
<div class="status__prepend-icon-wrapper">
<i class="status__prepend-icon fa fa-fw fa-retweet"></i>
</div>
<span>
<a class="status__display-name muted" href="https://mastodon.social/@pixelfed"><bdi>
<strong class="emojify">pixelfed</strong>
</bdi>
</a>boosted
</span>
</div>
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.social/@pixelfed/100046746396112965"><time class="time-ago" datetime="2018-05-17T21:23:19Z" title="May 17, 2018, 11:23 PM">May 17</time>
</a><data class="dt-published" value="2018-05-17T21:23:19+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.social/@pixelfed"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/354/718/original/bc09f9ddbf551808.png" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">pixelfed</strong>
</bdi>
&nbsp;
<span class="display-name__account">
@pixelfed@mastodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="ky"><p>Hello World! </p><p><a href="https://pixelfed.org/" rel="nofollow noopener" target="_blank"><span class="invisible">https://</span><span class="">pixelfed.org/</span><span class="invisible"></span></a></p></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/100046746396112965"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">0</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/100046746396112965"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/100046746396112965"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry h-entry">
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.social/@pixelfed/101204332099526273"><time class="time-ago" datetime="2018-12-08T07:52:35Z" title="December 8, 2018, 8:52 AM">Dec 8</time>
</a><data class="dt-published" value="2018-12-08T07:52:35+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.social/@pixelfed"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/354/718/original/bc09f9ddbf551808.png" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">pixelfed</strong>
</bdi>
&nbsp;
<span class="display-name__account">
@pixelfed@mastodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p>We are an ethical alternative to Instagram.</p><p>The project is still young, but we are getting close to a polished v1.0 release with federation support!</p><p>We can't wait to join the fediverse. <img draggable="false" class="emojione" alt="â¤ï¸" title=":heart:" src="/emoji/2764.svg"> <a href="https://mastodon.social/tags/pixelfed" class="mention hashtag" rel="tag">#<span>pixelfed</span></a></p></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101204332099526273"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1+</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101204332099526273"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101204332099526273"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry h-entry">
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.social/@pixelfed/101192745510065800"><time class="time-ago" datetime="2018-12-06T06:45:58Z" title="December 6, 2018, 7:45 AM">Dec 6</time>
</a><data class="dt-published" value="2018-12-06T06:45:58+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.social/@pixelfed"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/354/718/original/bc09f9ddbf551808.png" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">pixelfed</strong>
</bdi>
&nbsp;
<span class="display-name__account">
@pixelfed@mastodon.social

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p>We did it! <img draggable="false" class="emojione" alt="â¤ï¸" title=":heart:" src="/emoji/2764.svg"></p></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101192745510065800"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1+</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101192745510065800"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/101192745510065800"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>
<div class="entry entry-reblog h-cite">
<div class="status__prepend">
<div class="status__prepend-icon-wrapper">
<i class="status__prepend-icon fa fa-fw fa-retweet"></i>
</div>
<span>
<a class="status__display-name muted" href="https://mastodon.social/@pixelfed"><bdi>
<strong class="emojify">pixelfed</strong>
</bdi>
</a>boosted
</span>
</div>
<div class="status">
<div class="status__info">
<a class="status__relative-time u-url u-uid" rel="noopener" href="https://mastodon.at/@switchingsocial/100571707702913220"><time class="time-ago" datetime="2018-08-18T14:27:53Z" title="August 18, 2018, 4:27 PM">Aug 18</time>
</a><data class="dt-published" value="2018-08-18T14:27:53+00:00"></data>
<div class="p-author h-card">
<a class="status__display-name u-url" rel="noopener" href="https://mastodon.at/@switchingsocial"><div class="status__avatar">
<div>
<img alt="" class="u-photo account__avatar" src="https://files.mastodon.social/accounts/avatars/000/355/551/original/c68b34ae585ca8c7.png" width="48" height="48">
</div>
</div>
<span class="display-name">
<bdi>
<strong class="display-name__html p-name emojify">switching.social</strong>
</bdi>
&nbsp;
<span class="display-name__account">
@switchingsocial@mastodon.at

</span>
</span>
</a></div>
</div>
<div class="status__content emojify"><div class="e-content" style="display: block; direction: ltr" lang="en"><p>Hello new <a href="https://mastodon.at/tags/mastodon" class="mention hashtag" rel="nofollow noopener" target="_blank">#<span>Mastodon</span></a> folks! <img draggable="false" class="emojione" alt="ðŸ˜" title=":elephant:" src="/emoji/1f418.svg"> </p><p>Have you heard of the <a href="https://mastodon.at/tags/fediverse" class="mention hashtag" rel="nofollow noopener" target="_blank">#<span>Fediverse</span></a>? <img draggable="false" class="emojione" alt="ðŸ—ºï¸" title=":world_map:" src="/emoji/1f5fa.svg"> </p><p>It's a set of community projects that use the <a href="https://mastodon.at/tags/activitypub" class="mention hashtag" rel="nofollow noopener" target="_blank">#<span>ActivityPub</span></a> standard to talk to each other.</p><p>Mastodon is the most well developed, but there are many works in progress too:</p><p>Instagram -&gt; PixelFed <img draggable="false" class="emojione" alt="ðŸ“·" title=":camera:" src="/emoji/1f4f7.svg"> <br><span class="h-card"><a href="https://mastodon.social/@pixelfed" class="u-url mention" rel="nofollow noopener" target="_blank">@<span>pixelfed</span></a></span> <br><a href="https://pixelfed.social" rel="nofollow noopener" target="_blank"><span class="invisible">https://</span><span class="">pixelfed.social</span><span class="invisible"></span></a></p><p>YouTube -&gt; PeerTube <img draggable="false" class="emojione" alt="ðŸŽžï¸" title=":film_frames:" src="/emoji/1f39e.svg"> <br><a href="https://joinpeertube.org/" rel="nofollow noopener" target="_blank"><span class="invisible">https://</span><span class="">joinpeertube.org/</span><span class="invisible"></span></a></p><p>SoundCloud -&gt; Funkwhale <img draggable="false" class="emojione" alt="ðŸŽ§" title=":headphones:" src="/emoji/1f3a7.svg"> <br><span class="h-card"><a href="https://mastodon.eliotberriot.com/@funkwhale" class="u-url mention" rel="nofollow noopener" target="_blank">@<span>funkwhale</span></a></span> <a href="https://join.funkwhale.audio/" rel="nofollow noopener" target="_blank"><span class="invisible">https://</span><span class="">join.funkwhale.audio/</span><span class="invisible"></span></a></p><p>MeetUp -&gt; GetTogether <img draggable="false" class="emojione" alt="ðŸ»" title=":beers:" src="/emoji/1f37b.svg"> <br><span class="h-card"><a href="https://fosstodon.org/@GetTogetherComm" class="u-url mention" rel="nofollow noopener" target="_blank">@<span>GetTogetherComm</span></a></span> <br><a href="https://gettogether.community" rel="nofollow noopener" target="_blank"><span class="invisible">https://</span><span class="">gettogether.community</span><span class="invisible"></span></a></p><p>...and many others.</p></div></div>
<div class="status__action-bar">
<div class="status__action-bar__counter">
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/100571708039537685"><i class="fa fa-reply fa-fw"></i>
</a><div class="status__action-bar__counter__label">1</div>
</div>
<a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/100571708039537685"><i class="fa fa-retweet fa-fw"></i>
</a><a class="status__action-bar-button icon-button modal-button" style="font-size: 18px; width: 23.1429px; height: 23.1429px; line-height: 23.15px;" href="/interact/100571708039537685"><i class="fa fa-star fa-fw"></i>
</a></div>
</div>

</div>

<div class="entry"><a class="load-more load-gap" href="https://mastodon.social/@pixelfed?max_id=101191257273027843">Show more</a></div>
</div>
</data></div>