<article class="h-entry">
  <span class="p-uid">tag:twitter.com,2013:1053619970201018370</span>

  <time class="dt-published" datetime="2018-10-20T12:12:30+00:00">2018-10-20T12:12:30+00:00</time>

  <span class="p-author h-card">
    <data class="p-uid" value="tag:twitter.com,2013:ton_zylstra"></data>
<data class="p-numeric-id" value="25049203"></data>
    <a class="p-name u-url" href="https://www.zylstra.org/blog">Ton Zijlstra</a>
<a class="u-url" href="https://m.tzyl.nl/@ton"></a>
<a class="u-url" href="https://twitter.com/ton_zylstra"></a>
    <span class="p-nickname">ton_zylstra</span>
    <img class="u-photo" src="https://pbs.twimg.com/profile_images/659398307081379840/pyAVq5hk.jpg" alt="" />
  </span>

  <a class="u-url" href="https://twitter.com/ton_zylstra/status/1053619970201018370">https://twitter.com/ton_zylstra/status/1053619970201018370</a>
  <div class="e-content p-name">

  <a href="https://twitter.com/swentel">@swentel</a> Thank you for Indigenous! Allows me to easily post from my phone to my blog.
  </div>



  <span class="u-category h-card">
    <data class="p-uid" value="tag:twitter.com,2013:swentel"></data>
    <a class="p-name u-url" href="https://twitter.com/swentel">Kristof De Jaeger</a>
<a class="u-url" href="{{ target_url }}"></a>


  </span>




</article>