<body class="post-template-default single single-post postid-28465 single-format-standard hentry h-entry">


<div id="page" class="site">
		<div id="widgets-wrapper" class="toppanel hide">
		<div id="secondary" role="complementary" class="wrap clear one">
		<div id="top-sidebar-one" class="widget-area" role="complementary">
		<aside id="custom_html-2" class="widget_text widget widget_custom_html"><div class="textwidget custom-html-widget"><div class="h-card vcard">
<div id="my-header">
I'm <a id="my-name" rel="me" href="/about" class="p-name fn">Ryan Barrett</a>.<br />
I <a href="/house">live</a>, <a href="/resume">work</a>, and <a href="/pictures">play</a> in
 <span class="p-locality locality">San Francisco</span><abbr class="p-region region" style="display: none">California</abbr>.<br />
I <a href="/software">code</a>, <a href="/tag/essay">write</a>, and post <a href="/pictures">pictures</a> here.
</div>

<span style="display: none">
<img class="jetpack-lazy-image" alt="Ryan" src="/ryan_profile_medium.jpg" data-lazy-src="/ryan_profile_medium.jpg?is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript><img class="u-photo photo" alt="Ryan" src="/ryan_profile_medium.jpg" /></noscript>
<a href="mailto:public&#64;ryanb&#46;org" rel="me" class="u-email">public&#64;ryanb&#46;org</a>
<a class="u-key" href="/pubkey.txt">public PGP key</a>
</span>

<ul id="my-icons">
  <li class="home-link">
    <a href="/" class="genericon url u-url u-uid" title="Home">
      <span class="screen-reader-text">Home</span>
    </a>
  </li>
  <li class="search-trigger">
    <a href="#" class="genericon" title="Search">
      <span class="screen-reader-text">Search</span>
    </a>
  </li>
  <li class="archives-link">
    <a href="/archive" class="genericon" title="Archives">
      <span class="screen-reader-text">Archives</span>
    </a>
  </li>
  <li class="twitter-link">
    <a rel="me" href="https://twitter.com/schnarfed" class="genericon" title="Twitter" target="_blank">
      <span class="screen-reader-text">Twitter</span>
    </a>
  </li>
  <li class="facebook-link">
    <a rel="me" href="https://www.facebook.com/snarfed.org/about" class="genericon" title="Facebook" target="_blank">
      <span class="screen-reader-text">Facebook</span>
    </a>
  </li>
  <li class="instagram-link">
    <a rel="me" href="https://www.instagram.com/snarfed/" class="genericon" title="Instagram" target="_blank">
      <span class="screen-reader-text">Instagram</span>
    </a>
  </li>
  <li class="google-link">
    <a rel="me" href="https://plus.google.com/+RyanBarrett" class="genericon" title="Google+" target="_blank">
      <span class="screen-reader-text">Google+</span>
    </a>
  </li>
  <li class="github-link">
    <a rel="me" href="https://github.com/snarfed" class="genericon" title="GitHub" target="_blank">
      <span class="screen-reader-text">GitHub</span>
    </a>
  </li>
  <li class="feed-link">
    <a href="/feed" class="genericon" title="RSS Feed">
      <span class="screen-reader-text">RSS Feed</span>
    </a>
  </li>
  <li class="micro-blog-link" style="display: none">
    <a rel="me" href="https://micro.blog/snarfed" class="genericon" title="micro.blog" target="_blank">
      <span class="screen-reader-text">micro.blog</span>
    </a>
  </li>
  <li class="mastodon-link" style="display: none">
    <a rel="me" href="https://mastodon.technology/@snarfed" class="genericon" title="Mastodon" target="_blank">
      <span class="screen-reader-text">Mastodon</span>
    </a>
  </li>
</ul>
</div>

<link rel="microsub" href="https://baffle.tech/newsblur/snarfed">
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token"></div></aside>	</div><!-- #first .widget-area -->



	</div><!-- #secondary -->	</div>


	<div id="search-wrapper" class="toppanel hide">

<form method="get" id="searchform" class="searchform" action="https://snarfed.org/" role="search">
	<label for="s" class="screen-reader-text">Search</label>
	<input type="search" class="field" name="s" value="" id="s" placeholder="Search &hellip;" />
	<input type="submit" class="submit" id="searchsubmit" value="Search" />
</form>	</div>

	<div id="triggers-wrapper">
		<ul class="triggers clear">
						<li class="widgets-trigger">
				<a href="#" class="theme-genericon" title="Widgets">
					<span class="screen-reader-text">Widgets</span>
				</a>
			</li>


			<li class="search-trigger">
				<a href="#" class="theme-genericon" title="Search">
					<span class="screen-reader-text">Search</span>
				</a>
			</li>
		</ul>
	</div>

	<header id="masthead" class="site-header" role="banner">
		<div class="wrap">

							<a class="site-logo"  href="https://snarfed.org/" title="snarfed.org" rel="home">
					<img src="https://snarfed.org/w/wp-content/uploads/2013/06/copy-cropped-iraq_bar.jpg" width="1500" height="213" alt="" class="no-grav header-image" />
				</a>

			<hgroup>
				<h1 class="site-title"><a href="https://snarfed.org/" title="snarfed.org" rel="home">snarfed.org</a></h1>
				<h2 class="site-description">Ryan Barrett&#039;s blog</h2>
			</hgroup>
		</div><!-- .wrap -->

			</header><!-- #masthead -->

	<div id="main" class="site-main">
	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">



<article id="post-28465" class="clear post-28465 post type-post status-publish format-standard category-like">
	<div class="entry-wrap wrap clear">

		<header class="entry-header">
			<span class="categories-links"><a href="https://snarfed.org/category/like" rel="category tag">like</a></span><h1 class="entry-title"><span class='p-name'></span></h1>		</header><!-- .entry-header -->

		<footer class="entry-meta">
			<span class="entry-date"><a class="u-url" href="https://snarfed.org/2018-03-19_10-realize-be" title="3:05pm" rel="bookmark"><time class="dt-published" datetime="2018-03-19T15:05:43-08:00">March 19, 2018</time></a></span><span class="author p-author h-card vcard"> <img alt src="https://secure.gravatar.com/avatar/947b5f3f323da0ef785b6f02d9c265d6?s=96&#038;d=blank&#038;r=g" class="avatar avatar-96 jetpack-lazy-image" height="96" width="96" data-lazy-srcset="https://secure.gravatar.com/avatar/947b5f3f323da0ef785b6f02d9c265d6?s=192&#038;d=blank&#038;r=g 2x" data-lazy-src="https://secure.gravatar.com/avatar/947b5f3f323da0ef785b6f02d9c265d6?s=96&amp;is-pending-load=1#038;d=blank&#038;r=g" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript><img alt='' src='https://secure.gravatar.com/avatar/947b5f3f323da0ef785b6f02d9c265d6?s=96&#038;d=blank&#038;r=g' srcset='https://secure.gravatar.com/avatar/947b5f3f323da0ef785b6f02d9c265d6?s=192&#038;d=blank&#038;r=g 2x' class='avatar avatar-96 photo u-photo u-photo' height='96' width='96' /></noscript><a class="u-url url fn n p-name" href="https://snarfed.org/" title="&lt;span class=&#039;p-author h-card&#039;&gt;Ryan Barrett&lt;/span&gt;" rel="author"><span class='p-author h-card'>Ryan Barrett</span></a></span>
						<span class="comments-link"><a href="https://snarfed.org/2018-03-19_10-realize-be#respond">Leave a comment</a></span>

					</footer><!-- .entry-meta -->

				<div class="entry-content clear">
			<div class='e-content'>likes <a class='u-like u-like-of' href='{{ target_url }}'>#10 | realize.be</a></div>
					</div><!-- .entry-content -->

		<span class="entry-format-badge theme-genericon"><span class="screen-reader-text">Standard</span></span>
	</div><!-- .entry-wrap -->
</article><!-- #post-## -->


<div id="comments" class="comments-area">
	<div class="comments-wrap wrap">
















	<div id="respond" class="comment-respond">
		<h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/2018-03-19_10-realize-be#respond" style="display:none;">Cancel reply</a></small></h3>			<form action="https://snarfed.org/w/wp-comments-post.php" method="post" id="commentform" class="comment-form">
				<p class="comment-notes"><span id="email-notes">Your email address will not be published.</span></p><p class="comment-form-comment"><label for="comment">Comment</label> <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea></p><p class="comment-form-author"><label for="author">Name</label> <input id="author" name="author" type="text" value="" size="30" maxlength="245" /></p>
<p class="comment-form-email"><label for="email">Email</label> <input id="email" name="email" type="text" value="" size="30" maxlength="100" aria-describedby="email-notes" /></p>
<p class="comment-form-url"><label for="url">Website</label> <input id="url" name="url" type="text" value="" size="30" maxlength="200" /></p>
<p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Post Comment" /> <input type='hidden' name='comment_post_ID' value='28465' id='comment_post_ID' />
<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
</p><p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="b03955cc44" /></p><p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="224"/></p>			</form>
			</div><!-- #respond -->

	</div><!-- .comments-wrap -->
</div><!-- #comments -->

		</div><!-- #content -->
	</div><!-- #primary -->


	</div><!-- #main -->

	<footer id="colophon" class="site-footer" role="contentinfo">
		<div class="site-info wrap">
						<a href="http://wordpress.org/" title="A Semantic Personal Publishing Platform" rel="generator">Proudly powered by WordPress</a>
			<span class="sep"> | </span>
			Theme: Ryu by <a href="http://wordpress.com/themes/ryu/" rel="designer">WordPress.com</a>.		</div><!-- .site-info -->
	</footer><!-- #colophon -->
</div><!-- #page -->

</body>