<article class="h-entry">
  <span class="p-uid">tag:twitter.com,2013:1057282744458317825_favorited_by_190024882</span>



  <span class="p-author h-card">
    <data class="p-uid" value="tag:twitter.com,2013:pfrenssen"></data>
<data class="p-numeric-id" value="190024882"></data>
    <a class="p-name u-url" href="https://twitter.com/pfrenssen">Pieter Frenssen</a>
    <span class="p-nickname">pfrenssen</span>
    <img class="u-photo" src="https://pbs.twimg.com/profile_images/589400481572790273/UDzrzoyO.jpg" alt="" />
  </span>

  <a class="p-name u-url" href="https://twitter.com/swentel/status/1057282744458317825#favorited-by-190024882"></a>
  <div class="">


  </div>





<a class="u-like-of" href="https://twitter.com/swentel/status/1057282744458317825"></a>
<a class="u-like-of" href="{{ target_url }}"></a>

</article>