<article class="h-entry">
  <span class="p-uid">tag:twitter.com,2013:1057421577678073861</span>

  <time class="dt-published" datetime="2018-10-30T23:58:44+00:00">2018-10-30T23:58:44+00:00</time>

  <span class="p-author h-card">
    <data class="p-uid" value="tag:twitter.com,2013:gargsuchi"></data>
<data class="p-numeric-id" value="14174483"></data>
    <a class="p-name u-url" href="http://bit.ly/meet-suchi-garg">Suchi Garg</a>
<a class="u-url" href="https://twitter.com/gargsuchi"></a>
    <span class="p-nickname">gargsuchi</span>
    <img class="u-photo" src="https://pbs.twimg.com/profile_images/941094497030586370/PJc-n99Q.jpg" alt="" />
  </span>

  <a class="u-url" href="https://twitter.com/gargsuchi/status/1057421577678073861">https://twitter.com/gargsuchi/status/1057421577678073861</a>
  <div class="e-content p-name">

  Totally agree. I always look it up. <a href="https://twitter.com/search?q=%23newbie">#newbie</a> <a href="https://twitter.com/search?q=%23php">#php</a> (I have been working with PHP since 2000)
  </div>



  <span class="u-category h-card">
    <data class="p-uid" value="tag:twitter.com,2013:swentel"></data>
    <a class="p-name u-url" href="https://twitter.com/swentel">Kristof De Jaeger</a>
<a class="u-url" href="https://realize.be/"></a>


  </span>

  <a class="u-in-reply-to" href="https://twitter.com/swentel/status/1057282744458317825"></a>
  <a class="u-in-reply-to" href="{{ target_url }}"></a>


</article>