<div class="h-entry">
 <a class="p-author h-card" href="http://mysite.example.org">
   <img alt="" src="http://mysite.example.org/icon.jpg"/>
   Supercool Indiewebauthor</a>:
 RSVP <span class="p-rsvp">yes</span>
 to <a href="{{ target_url }}" class="u-in-reply-to">IndieWeb Example Event</a>
</div>