<article class="h-entry">
  <span class="p-uid">tag:twitter.com,2013:1065965505708781568</span>

  <time class="dt-published" datetime="2018-11-23T13:49:15+00:00">2018-11-23T13:49:15+00:00</time>

  <span class="p-author h-card">
    <data class="p-uid" value="tag:twitter.com,2013:MathieuSpil"></data>
<data class="p-numeric-id" value="514331078"></data>
    <a class="p-name u-url" href="https://twitter.com/MathieuSpil">Spillebeen Mathieu</a>
<a class="u-url" href="http://mathieuspillebeen.be"></a>
    <span class="p-nickname">MathieuSpil</span>
    <img class="u-photo" src="https://pbs.twimg.com/profile_images/634062365193928705/fikMWw9d.jpg" alt="" />
  </span>

  <a class="u-url" href="https://twitter.com/MathieuSpil/status/1065965505708781568">https://twitter.com/MathieuSpil/status/1065965505708781568</a>
  <div class="e-content p-name">

  hey fediverse, render this!
  </div>
<img class="u-photo" src="https://pbs.twimg.com/media/DssR-DVW0AA5NFq.jpg" alt="" />


  <span class="u-category h-card">
    <data class="p-uid" value="tag:twitter.com,2013:swentel"></data>
    <a class="p-name u-url" href="https://twitter.com/swentel">Kristof De Jaeger</a>
<a class="u-url" href="https://realize.be/"></a>


  </span>

  <a class="u-in-reply-to" href="https://twitter.com/swentel/status/1057282744458317825"></a>
  <a class="u-in-reply-to" href="{{ target_url }}"></a>

</article>
