<article class="h-entry">
  <span class="p-uid">https://mastodon.social/users/swentel/statuses/100915150921296401</span>

  <time class="dt-published" datetime="2018-10-18T06:10:01Z">2018-10-18T06:10:01Z</time>

  <span class="p-author h-card">

    <a class="u-url" href="https://mastodon.social/users/swentel">https://mastodon.social/users/swentel</a>


  </span>

  <a class="u-url" href="https://mastodon.social/@swentel/100915150921296401">https://mastodon.social/@swentel/100915150921296401</a>
  <div class="e-content p-name">

  <p><span class="h-card"><a href="https://fed.brid.gy/r/http://realize.be" class="u-url mention">@<span>realize.be</span></a></span> Don&apos;t exaggerate now, ok ? ;)</p>
  </div>




  <a class="u-in-reply-to" href="{{ target_url }}"></a>


</article>