<article class="h-entry">
  <span class="p-uid">tag:twitter.com,2013:1058794158540972032</span>

  <time class="dt-published" datetime="2018-11-03T18:52:53+00:00">2018-11-03T18:52:53+00:00</time>

  <span class="p-author h-card">
    <data class="p-uid" value="tag:twitter.com,2013:gaborhojtsy"></data>
<data class="p-numeric-id" value="45867004"></data>
    <a class="p-name u-url" href="http://hojtsy.hu">Gábor Hojtsy</a>
<a class="u-url" href="https://twitter.com/gaborhojtsy"></a>
    <span class="p-nickname">gaborhojtsy</span>
    <img class="u-photo" src="https://pbs.twimg.com/profile_images/1010975431305125889/sSiTFfJZ.jpg" alt="" />
  </span>

  <a class="u-url" href="https://twitter.com/gaborhojtsy/status/1058794158540972032">https://twitter.com/gaborhojtsy/status/1058794158540972032</a>
  <div class="e-content p-name">

  The Drupal #indieweb module now contains a built-in IndieAuth server. Authorize applications by simply logging in with your Drupal account!
  </div>





<a class="u-repost-of" href="https://twitter.com/swentel/status/1058744878266499073"></a>
<a class="u-repost-of" href="{{ target_url }}"></a>

</article>