<div id="page" class="site">
	<div class="site-inner">
		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>

		<header id="masthead" class="site-header" role="banner">
			<div class="site-header-main">
				<div class="site-branding">

											<p class="site-title"><a href="https://boffosocko.com/" rel="home">Chris Aldrich</a></p>
											<p class="site-description">Musings of a Modern Day Cyberneticist</p>
									</div><!-- .site-branding -->

									<button id="menu-toggle" class="menu-toggle">Menu</button>

					<div id="site-header-menu" class="site-header-menu">
													<nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Primary Menu">
								<div class="menu-short-menu-container"><ul id="menu-short-menu" class="primary-menu"><li id="menu-item-55671784" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-55671784"><a href="https://boffosocko.com/about/">About</a>
<ul class="sub-menu">
	<li id="menu-item-55671801" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671801"><a href="https://boffosocko.com/about/website-philosophy-structure/">Website Philosophy &#038; Structure</a></li>
	<li id="menu-item-55675279" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55675279"><a href="https://boffosocko.com/about/social-media-accounts-and-links/">Social Media Accounts and Links</a></li>
	<li id="menu-item-55673899" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55673899"><a title="What I&#8217;m up to most recently" href="https://boffosocko.com/now/">Now</a></li>
	<li id="menu-item-55700159" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55700159"><a title="(aka Blogroll)" href="https://boffosocko.com/about/following/">Following</a></li>
	<li id="menu-item-55692145" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55692145"><a href="https://boffosocko.com/mentions/">@Mentions</a></li>
	<li id="menu-item-55702996" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55702996"><a href="https://boffosocko.com/about/supporting/">Supporting</a></li>
	<li id="menu-item-55699886" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55699886"><a href="https://boffosocko.com/about/ama/">Ask Me Anything (AMA)</a></li>
	<li id="menu-item-55686071" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55686071"><a href="https://boffosocko.com/about/favorite-things/">Favorite Things</a></li>
	<li id="menu-item-55692103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55692103"><a href="https://boffosocko.com/about/bucketlist/">Bucketlist</a></li>
	<li id="menu-item-55671815" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671815"><a target="_blank" href="http://www.apsugen.com">Apsugen</a></li>
	<li id="menu-item-55671800" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671800"><a target="_blank" href="https://boffosocko.com/about/little-free-library-8424/">Little Free Library #8424</a></li>
	<li id="menu-item-55726143" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55726143"><a href="https://boffosocko.com/about/accessibility-statement/">Accessibility Statement</a></li>
</ul>
</li>
<li id="menu-item-55671781" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-has-children menu-item-55671781"><a href="https://boffosocko.com/blog/">Blog</a>
<ul class="sub-menu">
	<li id="menu-item-55671787" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671787"><a href="https://boffosocko.com/blog/subscribe/">Subscribe</a></li>
	<li id="menu-item-55723983" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55723983"><a href="https://boffosocko.com/type/status/"><i class="fa fa-certificate fa- " ></i> Microblog</a></li>
	<li id="menu-item-55723984" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55723984"><a href="https://boffosocko.com/type/link/"><i class="fa fa-link fa- " ></i> Linkblog</a></li>
	<li id="menu-item-55723986" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55723986"><a href="https://boffosocko.com/tag/an-indieweb-podcast/"><i class="fa fa-microphone fa- " ></i> An IndieWeb Podcast</a></li>
	<li id="menu-item-55723985" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55723985"><a href="https://boffosocko.com/category/microcast/"><i class="fa fa-microphone fa- " ></i> Microcast</a></li>
	<li id="menu-item-55723954" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-55723954"><a href="http://boffosocko.com/">Posts by Kind</a>
	<ul class="sub-menu">
		<li id="menu-item-55723956" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723956"><a href="https://boffosocko.com/kind/acquisition/"><i class="fa fa-cart-plus fa- " ></i> Acquisitions</a></li>
		<li id="menu-item-55723957" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723957"><a href="https://boffosocko.com/kind/annotation/"><i class="fa fa-leanpub fa- " ></i> Annotations</a></li>
		<li id="menu-item-55723958" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723958"><a href="https://boffosocko.com/kind/article/"><i class="fa fa-file-text fa- " ></i> Articles</a></li>
		<li id="menu-item-55723959" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723959"><a href="https://boffosocko.com/kind/audio/"><i class="fa fa-music fa- " ></i> Audio files</a></li>
		<li id="menu-item-55723960" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723960"><a href="https://boffosocko.com/kind/bookmark/"><i class="fa fa-bookmark fa- " ></i> Bookmarks</a></li>
		<li id="menu-item-55723961" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723961"><a href="https://boffosocko.com/kind/checkin/"><i class="fa fa-location-arrow fa- " ></i> Checkins</a></li>
		<li id="menu-item-55723962" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723962"><a href="https://boffosocko.com/kind/chicken/"><i class="fa fa-leaf fa- " ></i> Chickens</a></li>
		<li id="menu-item-55723963" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723963"><a href="https://boffosocko.com/kind/drink/"><i class="fa fa-glass fa- " ></i> Drinks</a></li>
		<li id="menu-item-55723964" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723964"><a href="https://boffosocko.com/kind/eat/"><i class="fa fa-cutlery fa- " ></i> Eats</a></li>
		<li id="menu-item-55723965" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723965"><a href="https://boffosocko.com/kind/exercise/"><i class="fa fa-bicycle fa- " ></i> Exercise</a></li>
		<li id="menu-item-55723966" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723966"><a href="https://boffosocko.com/kind/favorite/"><i class="fa fa-star fa- " ></i> Favorites</a></li>
		<li id="menu-item-55723967" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723967"><a href="https://boffosocko.com/kind/follow/"><i class="fa fa-user-plus fa- " ></i> Follows</a></li>
		<li id="menu-item-55723968" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723968"><a href="https://boffosocko.com/kind/highlight/"><i class="fa fa-pencil fa- " ></i> Highlights</a></li>
		<li id="menu-item-55723969" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723969"><a href="https://boffosocko.com/kind/issue/"><i class="fa fa-bug fa- " ></i> Issues</a></li>
		<li id="menu-item-55723970" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723970"><a href="https://boffosocko.com/kind/itch/"><i class="fa fa-check-square-o fa- " ></i> Itches</a></li>
		<li id="menu-item-55723971" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723971"><a href="https://boffosocko.com/kind/jam/"><i class="fa fa-music fa- " ></i> Jams</a></li>
		<li id="menu-item-55723972" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723972"><a href="https://boffosocko.com/kind/like/"><i class="fa fa-heart fa- " ></i> likes</a></li>
		<li id="menu-item-55723973" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723973"><a href="https://boffosocko.com/kind/listen/"><i class="fa fa-headphones fa- " ></i> Listens</a></li>
		<li id="menu-item-55723974" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723974"><a href="https://boffosocko.com/kind/note/"><i class="fa fa-sticky-note fa- " ></i> Notes</a></li>
		<li id="menu-item-55723975" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723975"><a href="https://boffosocko.com/kind/photo/"><i class="fa fa-picture-o fa- " ></i> Photos</a></li>
		<li id="menu-item-55723976" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723976"><a href="https://boffosocko.com/kind/quote/"><i class="fa fa-quote-left fa- " ></i> Quotes</a></li>
		<li id="menu-item-55723955" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723955"><a href="https://boffosocko.com/kind/read/"><i class="fa fa-book fa- " ></i> Reads</a></li>
		<li id="menu-item-55723977" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723977"><a href="https://boffosocko.com/kind/reply/"><i class="fa fa-reply fa- " ></i> Replies</a></li>
		<li id="menu-item-55723978" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723978"><a href="https://boffosocko.com/kind/repost/"><i class="fa fa-share-square-o fa- " ></i> Reposts</a></li>
		<li id="menu-item-55723979" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723979"><a href="https://boffosocko.com/kind/rsvp/"><i class="fa fa-calendar fa- " ></i> RSVPs</a></li>
		<li id="menu-item-55723980" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723980"><a href="https://boffosocko.com/kind/video/"><i class="fa fa-video-camera fa- " ></i> Videos</a></li>
		<li id="menu-item-55723982" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723982"><a href="https://boffosocko.com/kind/wish/"><i class="fa fa-shopping-cart fa- " ></i> Wishlist</a></li>
		<li id="menu-item-55723981" class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723981"><a href="https://boffosocko.com/kind/watch/"><i class="fa fa-film fa- " ></i> Watches</a></li>
	</ul>
</li>
	<li id="menu-item-55672186" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55672186"><a href="https://boffosocko.com/posts-by-type/">Posts by Type</a></li>
	<li id="menu-item-55671811" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671811"><a target="_blank" href="http://stream.boffosocko.com">Social Stream</a></li>
	<li id="menu-item-55675416" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55675416"><a target="_blank" href="http://boffosocko.com/twitter/">Twitter Archive</a></li>
	<li id="menu-item-55671823" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671823"><a target="_blank" href="http://thinkup.boffosocko.com/dashboard.php?u=ChrisAldrich&#038;n=twitter">ThinkUp (deprecated)</a></li>
</ul>
</li>
<li id="menu-item-55671782" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-55671782"><a href="https://boffosocko.com/entertainment-industry-practice/">Boffo Socko Entertainment</a>
<ul class="sub-menu">
	<li id="menu-item-55671794" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671794"><a href="https://boffosocko.com/submissions/">Submissions</a></li>
	<li id="menu-item-55671812" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-55671812"><a target="_blank" rel="me" href="http://www.boffosockobooks.com">Boffo Socko Books</a>
	<ul class="sub-menu">
		<li id="menu-item-55671967" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671967"><a href="https://boffosocko.com/amerikan-krazy-by-henry-james-korn/">Amerikan Krazy by Henry James Korn</a></li>
	</ul>
</li>
	<li id="menu-item-55671813" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671813"><a target="_blank" rel="me" href="http://www.boffosocko.com/publishing">Boffo Socko Publishing</a></li>
	<li id="menu-item-55671814" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-55671814"><a href="https://boffosocko.com/category/entertainment-industry/">Entertainment Industry Posts</a></li>
	<li id="menu-item-55671789" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671789"><a href="https://boffosocko.com/book/">Textbook</a></li>
</ul>
</li>
<li id="menu-item-55671783" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-55671783"><a href="https://boffosocko.com/research/">Research</a>
<ul class="sub-menu">
	<li id="menu-item-55671804" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-55671804"><a href="https://boffosocko.com/itbio/">Information Theory and Biology Resources</a>
	<ul class="sub-menu">
		<li id="menu-item-55671810" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671810"><a href="https://boffosocko.com/itbio/itbio-conferences-workshops/">ITBio Conferences &#038; Workshops</a></li>
		<li id="menu-item-55671809" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671809"><a href="https://boffosocko.com/itbio/itbio-related-organizations/">ITBio Related Organizations</a></li>
		<li id="menu-item-55671805" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671805"><a href="https://boffosocko.com/itbio/itbio-researchers/">ITBio Researchers</a></li>
		<li id="menu-item-55671807" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-55671807"><a href="https://boffosocko.com/itbio/itbio-books/">ITBio Books</a>
		<ul class="sub-menu">
			<li id="menu-item-55671808" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671808"><a href="https://boffosocko.com/itbio/itbio-books/books-at-the-intersection-of-information-theory-and-biology/">Books at the Intersection of Information Theory and Biology</a></li>
			<li id="menu-item-55671816" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671816"><a href="http://boffosocko.com/2015/05/12/popular-science-books-on-information-theory-biology-and-complexity/">Intro Books</a></li>
		</ul>
</li>
		<li id="menu-item-55671806" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671806"><a href="https://boffosocko.com/itbio/itbio-references/">ITBio References</a></li>
		<li id="menu-item-55671817" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671817"><a target="_blank" href="https://twitter.com/search?q=%23ITBio&#038;src=typd&#038;f=realtime">#ITBio on Twitter</a></li>
	</ul>
</li>
	<li id="menu-item-55671819" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-55671819"><a href="https://boffosocko.com/category/mathematics/">Mathematics</a>
	<ul class="sub-menu">
		<li id="menu-item-55671820" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671820"><a href="http://boffosocko.com/2015/09/22/dr-michael-miller-math-class-hints-and-tips-ucla-extension/">UCLA Extension</a></li>
		<li id="menu-item-55671818" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671818"><a target="_blank" href="http://cat.boffosocko.com">Category Theory</a></li>
	</ul>
</li>
	<li id="menu-item-55671795" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-55671795"><a href="https://boffosocko.com/teaching/">Teaching</a>
	<ul class="sub-menu">
		<li id="menu-item-55671796" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671796"><a href="https://boffosocko.com/teaching/development-hell/">Development Hell: Taking a Screenplay from Script to Screen</a></li>
		<li id="menu-item-55671797" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671797"><a href="https://boffosocko.com/teaching/hollywood-101/">Hollywood 101: Survival in and Mechanics of the Entertainment Industry</a></li>
	</ul>
</li>
	<li id="menu-item-55705301" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55705301"><a href="https://boffosocko.com/research/indieweb/">IndieWeb</a></li>
	<li id="menu-item-55733404" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-55733404"><a href="https://boffosocko.com/research/presentations/">Presentations</a>
	<ul class="sub-menu">
		<li id="menu-item-55733410" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55733410"><a href="https://boffosocko.com/research/presentations/wordpress-and-indieweb/">IndieWeb for WordPress (WordCamp Riverside 2018)</a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-55671802" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671802"><a href="https://boffosocko.com/contact/">Contact</a></li>
</ul></div>							</nav><!-- .main-navigation -->

													<nav id="social-navigation" class="social-navigation" role="navigation" aria-label="Social Links Menu">
								<div class="menu-social-menu-container"><ul id="menu-social-menu" class="social-links-menu"><li id="menu-item-55671769" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671769"><a target="_blank" rel="me" href="mailto:chris@boffosocko.com"><span class="screen-reader-text">Email</span></a></li>
<li id="menu-item-55671772" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671772"><a title="me" target="_blank" rel="me" href="http://boffosocko.com/feed/"><span class="screen-reader-text">RSS</span></a></li>
<li id="menu-item-55670228" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55670228"><a target="_blank" rel="me" href="https://twitter.com/chrisaldrich"><span class="screen-reader-text">Twitter</span></a></li>
<li id="menu-item-55670227" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55670227"><a target="_blank" rel="me" href="http://facebook.com/chrisaldrich"><span class="screen-reader-text">Facebook</span></a></li>
<li id="menu-item-55670229" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55670229"><a target="_blank" rel="me" href="https://plus.google.com/+ChrisAldrich1/about"><span class="screen-reader-text">Google+</span></a></li>
<li id="menu-item-55671780" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671780"><a target="_blank" rel="me" href="https://www.instagram.com/chrisaldrich/"><span class="screen-reader-text">Instagram</span></a></li>
<li id="menu-item-55670230" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55670230"><a target="_blank" rel="me" href="http://www.linkedin.com/in/chrisaldrich"><span class="screen-reader-text">LinkedIn</span></a></li>
<li id="menu-item-55671775" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671775"><a target="_blank" rel="me" href="https://www.pinterest.com/chrisaldrich/"><span class="screen-reader-text">Pinterest</span></a></li>
<li id="menu-item-55671773" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671773"><a target="_blank" rel="me" href="http://chrisaldrich.tumblr.com"><span class="screen-reader-text">Tumblr</span></a></li>
<li id="menu-item-55671770" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671770"><a target="_blank" rel="me" href="https://github.com/chrisaldrich"><span class="screen-reader-text">GitHub</span></a></li>
<li id="menu-item-55671777" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671777"><a target="_blank" rel="me" href="https://play.spotify.com/user/chrisaldrich"><span class="screen-reader-text">Spotify</span></a></li>
<li id="menu-item-55671774" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671774"><a target="_blank" rel="me" href="https://www.youtube.com/user/christopherjaldrich"><span class="screen-reader-text">YouTube</span></a></li>
<li id="menu-item-55671771" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671771"><a target="_blank" rel="me" href="https://foursquare.com/chrisaldrich"><span class="screen-reader-text">FourSquare</span></a></li>
<li id="menu-item-55671776" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671776"><a target="_blank" rel="me" href="https://www.reddit.com/user/chrisaldrich/"><span class="screen-reader-text">Reddit</span></a></li>
<li id="menu-item-55670231" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55670231"><a target="_blank" rel="me" href="http://www.goodreads.com/user/show/3250760"><span class="screen-reader-text">Goodreads</span></a></li>
<li id="menu-item-55724903" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55724903"><a target="_blank" rel="me" href="https://pnut.io/@chrisaldrich"><span class="screen-reader-text">Pnut</span></a></li>
</ul></div>							</nav><!-- .social-navigation -->
											</div><!-- .site-header-menu -->
							</div><!-- .site-header-main -->

					</header><!-- .site-header -->

		<div id="content" class="site-content">

<div id="primary" class="content-area">
	<main id="main" class="site-main" role="main">

<article id="post-55710819" class="post-55710819 post type-post status-publish format-link hentry category-bookmark category-indieweb category-social-stream tag-drupal post_format-post-format-link kind-bookmark">
	<header class="entry-header">
		<h1 class="entry-title">&#x1f516; IndieWeb Module for Drupal</h1>	</header><!-- .entry-header -->



	<div class="entry-content">

<section class="response u-bookmark-of h-cite">
<header>
<svg class="svg-icon svg-bookmark" aria-hidden="true" aria-label="Bookmark title="Bookmark"><use xlink:href="https://boffosocko.com/wp-content/plugins/indieweb-post-kinds/kinds.svg#bookmark"></use></svg><span class="kind-display-text">Bookmarked</span> <a href="https://www.drupal.org/project/indieweb" class="p-name u-url">IndieWeb Module for Drupal</a> by <span class="h-card p-author">Kristof De Jaeger</span> <em>(<span class="p-publication">Drupal.org</span>)</em></header>
<blockquote class="e-summary">Integrates the philosophy of Indieweb in your Drupal website.<br/>
For more information about indieweb, see <a href="https://indieweb.org/" rel="nofollow">https://indieweb.org/</a>.<br/><br/>
Current functionality:<br/>
<ul>
 	<li>Receive webmentions and pingbacks via Webmention.io</li>
 	<li>Publish content etc via bridg.y, store syndications</li>
 	<li>Microformats for content and images</li>
 	<li>IndieAuth and Authentication API</li>
 	<li>Micropub for creating content etc</li>
 	<li>Creating comments from 'in-reply-to'</li>
 	<li>Microsub link exposing</li>
</ul>
This is only the tip of the iceberg and much more functionality will be added.<br/>

More extensive documentation is in the README file and on the configuration screens.<br/><br/>

<strong>To install</strong><br/>
<ul>
 	<li>composer require indieweb/mention-client in the root of your Drupal installation.</li>
 	<li>go to admin/modules and toggle 'Indieweb' to enable the module.</li>
 	<li>go to admin/config/services/indieweb and start configuring.</li>
</ul>
Currently development is happening on Github at <a href="https://github.com/swentel/indieweb" rel="nofollow">https://github.com/swentel/indieweb</a> and is synced back for bug fixes and releases. Create issues on Github.<br/></blockquote></section>

<p>This looks like a tremendous step forward for folks who want to join the IndieWeb via Drupal. Kudos to <a href="{{ target_url }}" target="_blank" rel="noopener">Kristof De Jaeger</a> for some fantastic looking work.<a class="u-syndication broken_link" href="https://news.indieweb.org/en/boffosocko.com/2018/03/31/indieweb-module-for-drupal/" rel="nofollow">​​​​​​​​</a></p>
<div id="geo-post-55710819" class="geo geo-post" style="display: none"><span class="latitude"></span><span class="longitude"></span></div><span class="syn-text">Syndicated copies to:</span><ul class="relsyn"><li><a aria-label="twitter" class="u-syndication syn-link" href="https://twitter.com/ChrisAldrich/status/980992649921363968" rel="syndication"> <svg class="svg-icon svg-twitter" aria-hidden="true"><use xlink:href="https://boffosocko.com/wp-content/plugins/syndication-links/icons.svg#twitter"></use></svg></a></li><li><a aria-label="mastodon" class="u-syndication syn-link" href="https://mastodon.social/@chrisaldrich/99793102155311349" rel="syndication"> <svg class="svg-icon svg-mastodon" aria-hidden="true"><use xlink:href="https://boffosocko.com/wp-content/plugins/syndication-links/icons.svg#mastodon"></use></svg></a></li><li><a aria-label="googleplus" class="u-syndication syn-link" href="https://plus.google.com/+ChrisAldrich1/posts/gwKxJQhSkTE" rel="syndication"> <svg class="svg-icon svg-googleplus" aria-hidden="true"><use xlink:href="https://boffosocko.com/wp-content/plugins/syndication-links/icons.svg#googleplus"></use></svg></a></li></ul>	</div><!-- .entry-content -->

	<footer class="entry-footer">
		<span class="byline"><span class="author vcard"><img alt='' src='https://secure.gravatar.com/avatar/d5fb4e498fe609cc29b04e5b7ad688c4?s=49&#038;d=https://boffosocko.com/wp-content/plugins/semantic-linkbacks/img/mm.jpg&#038;r=pg' srcset='https://secure.gravatar.com/avatar/d5fb4e498fe609cc29b04e5b7ad688c4?s=98&#038;d=https://boffosocko.com/wp-content/plugins/semantic-linkbacks/img/mm.jpg&#038;r=pg 2x' class='avatar avatar-49 photo' height='49' width='49' /><span class="screen-reader-text">Author </span> <a class="url fn n" href="https://boffosocko.com/">Chris Aldrich</a></span></span><span class="posted-on"><span class="screen-reader-text">Posted on </span><a href="https://boffosocko.com/2018/03/31/indieweb-module-for-drupal/" rel="bookmark"><time class="entry-date published dt-published" datetime="2018-03-31T23:43:30-08:00">March 31, 2018 at 11:43 pm</time><time class="updated dt-updated" datetime="2018-04-02T19:19:54-08:00">April 2, 2018</time></a></span><span class="entry-format"><span class="screen-reader-text">Format </span><a href="https://boffosocko.com/type/link/">Link</a></span><span class="cat-links"><span class="screen-reader-text">Categories </span><a href="https://boffosocko.com/category/social-stream/bookmark/" rel="category tag">Bookmark</a>, <a href="https://boffosocko.com/category/indieweb/" rel="category tag">IndieWeb</a>, <a href="https://boffosocko.com/category/social-stream/" rel="category tag">Social Stream</a></span><span class="tags-links"><span class="screen-reader-text">Tags </span><a href="https://boffosocko.com/tag/drupal/" rel="tag">Drupal</a></span><span class="syn-text">Syndicated copies to:</span><ul class="relsyn"><li><a aria-label="twitter" class="u-syndication syn-link" href="https://twitter.com/ChrisAldrich/status/980992649921363968" rel="syndication"> <svg class="svg-icon svg-twitter" aria-hidden="true"><use xlink:href="https://boffosocko.com/wp-content/plugins/syndication-links/icons.svg#twitter"></use></svg></a></li><li><a aria-label="mastodon" class="u-syndication syn-link" href="https://mastodon.social/@chrisaldrich/99793102155311349" rel="syndication"> <svg class="svg-icon svg-mastodon" aria-hidden="true"><use xlink:href="https://boffosocko.com/wp-content/plugins/syndication-links/icons.svg#mastodon"></use></svg></a></li><li><a aria-label="googleplus" class="u-syndication syn-link" href="https://plus.google.com/+ChrisAldrich1/posts/gwKxJQhSkTE" rel="syndication"> <svg class="svg-icon svg-googleplus" aria-hidden="true"><use xlink:href="https://boffosocko.com/wp-content/plugins/syndication-links/icons.svg#googleplus"></use></svg></a></li></ul>			</footer><!-- .entry-footer -->
</article><!-- #post-## -->

<div id="comments" class="comments-area">

			<h2 class="comments-title">
			8 responses on &ldquo;&#x1f516; IndieWeb Module for Drupal&rdquo;		</h2>


		<ol class="comment-list">
					</ol><!-- .comment-list -->




	<indie-action do='reply' with='https://boffosocko.com/2018/03/31/indieweb-module-for-drupal/'>
<div class="likes">
	<h3>Likes</h3>
	<ul class="mention-list linkback-like"><li class="webmention even thread-even depth-1 linkback-like-single u-like h-cite" id="comment-49259">
				<span class="p-author h-card">
					<a class="u-url" title="AnyforSoft liked this bookmark on twitter.com." href="https://twitter.com/anyforsoft"><img alt='' src='https://pbs.twimg.com/profile_images/945763706796986368/Q_cImcaq.jpg' srcset='https://pbs.twimg.com/profile_images/945763706796986368/Q_cImcaq.jpg 2x' class='avatar avatar-64 photo avatar-default u-photo avatar-semantic-linkbacks' height='64' width='64' /> </a>
					<span class="hide-name p-name">AnyforSoft</span>
				</span>
				<a class="u-url" href="https://twitter.com/ChrisAldrich/status/980992649921363968#favorited-by-632859697"></a>
			</li><li class="webmention odd alt thread-odd thread-alt depth-1 linkback-like-single u-like h-cite" id="comment-49236">
				<span class="p-author h-card">
					<a class="u-url" title="Kristof De Jaeger liked this bookmark on twitter.com." href="https://twitter.com/swentel"><img alt='' src='https://pbs.twimg.com/profile_images/653664367259590656/eYkRsNYV.jpg' srcset='https://pbs.twimg.com/profile_images/653664367259590656/eYkRsNYV.jpg 2x' class='avatar avatar-64 photo avatar-default u-photo avatar-semantic-linkbacks' height='64' width='64' /> </a>
					<span class="hide-name p-name">Kristof De Jaeger</span>
				</span>
				<a class="u-url" href="https://twitter.com/ChrisAldrich/status/980992649921363968#favorited-by-48998488"></a>
			</li><li class="webmention even thread-even depth-1 linkback-like-single u-like h-cite" id="comment-49234">
				<span class="p-author h-card">
					<a class="u-url" title="TomWithTheWeather liked this bookmark on twitter.com." href="https://twitter.com/tomwiththeweath"><img alt='' src='https://pbs.twimg.com/profile_images/52629372/flickr.jpg' srcset='https://pbs.twimg.com/profile_images/52629372/flickr.jpg 2x' class='avatar avatar-64 photo avatar-default u-photo avatar-semantic-linkbacks' height='64' width='64' /> </a>
					<span class="hide-name p-name">TomWithTheWeather</span>
				</span>
				<a class="u-url" href="https://twitter.com/ChrisAldrich/status/980992649921363968#favorited-by-961661"></a>
			</li><li class="webmention odd alt thread-odd thread-alt depth-1 linkback-like-single u-like h-cite" id="comment-49228">
				<span class="p-author h-card">
					<a class="u-url" title="Matthias Ott liked this bookmark on twitter.com." href="https://twitter.com/m_ott"><img alt='' src='https://pbs.twimg.com/profile_images/885391027279994883/e2QFYqw3.jpg' srcset='https://pbs.twimg.com/profile_images/885391027279994883/e2QFYqw3.jpg 2x' class='avatar avatar-64 photo avatar-default u-photo avatar-semantic-linkbacks' height='64' width='64' /> </a>
					<span class="hide-name p-name">Matthias Ott</span>
				</span>
				<a class="u-url" href="https://twitter.com/ChrisAldrich/status/980992649921363968#favorited-by-58448784"></a>
			</li></ul></div>



<div class="reposts">
	<h3>Reposts</h3>
	<ul class="mention-list linkback-repost"><li class="webmention even thread-even depth-1 linkback-repost-single u-repost h-cite" id="comment-49544">
				<span class="p-author h-card">
					<a class="u-url" title="zylvia auerbach reposted this bookmark on twitter.com." href="http://www.kann-verlag.de"><img alt='' src='https://pbs.twimg.com/profile_images/626394140964745216/MxunONbj.jpg' srcset='https://pbs.twimg.com/profile_images/626394140964745216/MxunONbj.jpg 2x' class='avatar avatar-64 photo avatar-default u-photo avatar-semantic-linkbacks' height='64' width='64' /> </a>
					<span class="hide-name p-name">zylvia auerbach</span>
				</span>
				<a class="u-url" href="https://twitter.com/hexaflexagon/status/982886670050701312"></a>
			</li><li class="webmention odd alt thread-odd thread-alt depth-1 linkback-repost-single u-repost h-cite" id="comment-49281">
				<span class="p-author h-card">
					<a class="u-url" title="Ricardo Mendes reposted this bookmark on twitter.com." href="https://www.rmendes.net"><img alt='' src='https://pbs.twimg.com/profile_images/976819300064473089/LyhLRzVo.jpg' srcset='https://pbs.twimg.com/profile_images/976819300064473089/LyhLRzVo.jpg 2x' class='avatar avatar-64 photo avatar-default u-photo avatar-semantic-linkbacks' height='64' width='64' /> </a>
					<span class="hide-name p-name">Ricardo Mendes</span>
				</span>
				<a class="u-url" href="https://twitter.com/rMdes_/status/981231146976579584"></a>
			</li><li class="webmention even thread-even depth-1 linkback-repost-single u-repost h-cite" id="comment-49254">
				<span class="p-author h-card">
					<a class="u-url" title="Steve Purkiss reposted this bookmark on twitter.com." href="http://purkiss.com"><img alt='' src='https://pbs.twimg.com/profile_images/974977677345083392/tD5s5JaX.jpg' srcset='https://pbs.twimg.com/profile_images/974977677345083392/tD5s5JaX.jpg 2x' class='avatar avatar-64 photo avatar-default u-photo avatar-semantic-linkbacks' height='64' width='64' /> </a>
					<span class="hide-name p-name">Steve Purkiss</span>
				</span>
				<a class="u-url" href="https://twitter.com/stevepurkiss/status/981131050729590784"></a>
			</li><li class="webmention odd alt thread-odd thread-alt depth-1 linkback-repost-single u-repost h-cite" id="comment-49243">
				<span class="p-author h-card">
					<a class="u-url" title="Florian Weil reposted this bookmark on twitter.com." href="http://www.derhess.de"><img alt='' src='https://pbs.twimg.com/profile_images/80266541/derhess.png' srcset='https://pbs.twimg.com/profile_images/80266541/derhess.png 2x' class='avatar avatar-64 photo avatar-default u-photo avatar-semantic-linkbacks' height='64' width='64' /> </a>
					<span class="hide-name p-name">Florian Weil</span>
				</span>
				<a class="u-url" href="https://twitter.com/derhess/status/981088255377661954"></a>
			</li></ul></div>









	<div id="respond" class="comment-respond">
		<h2 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/2018/03/31/indieweb-module-for-drupal/#respond" style="display:none;">Cancel reply</a></small></h2>			<form action="https://boffosocko.com/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
				<p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p><p class="comment-form-comment"><label for="comment">Comment</label> <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea></p><p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" maxlength="245" required='required' /></p>
<p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="email" value="" size="30" maxlength="100" aria-describedby="email-notes" required='required' /></p>
<p class="comment-form-url"><label for="url">Website</label> <input id="url" name="url" type="url" value="" size="30" maxlength="200" /></p>
<p class="comment-subscription-form"><input type="checkbox" name="subscribe_comments" id="subscribe_comments" value="subscribe" style="width: auto; -moz-appearance: checkbox; -webkit-appearance: checkbox;" /> <label class="subscribe-label" id="subscribe-label" for="subscribe_comments">Notify me of follow-up comments by email.</label></p><p class="comment-subscription-form"><input type="checkbox" name="subscribe_blog" id="subscribe_blog" value="subscribe" style="width: auto; -moz-appearance: checkbox; -webkit-appearance: checkbox;" /> <label class="subscribe-label" id="subscribe-blog-label" for="subscribe_blog">Notify me of new posts by email.</label></p><p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Post Comment" /> <input type='hidden' name='comment_post_ID' value='55710819' id='comment_post_ID' />
<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
</p><p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="47a2b5be75" /></p><p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="82"/></p>			</form>
			</div><!-- #respond -->
	</indie-action><form id="webmention-form" action="https://boffosocko.com/wp-json/webmention/1.0/endpoint" method="post">
	<p>
		<label for="webmention-source">To respond on your own website, enter the URL of your response which should contain a link to this post's permalink URL. Your response will then appear (possibly after moderation) on this page. Want to update or remove your response? Update or delete your post and re-enter your post's URL again. (<a href="http://indieweb.org/webmention">Learn More</a>)</label>
		<input id="webmention-source" type="url" name="source" placeholder="URL/Permalink of your article" />
	</p>
	<p>
		<input id="webmention-submit" type="submit" name="submit" value="Ping me!" />
	</p>
	<input id="webmention-format" type="hidden" name="format" value="html" />
	<input id="webmention-target" type="hidden" name="target" value="https://boffosocko.com/2018/03/31/indieweb-module-for-drupal/" />
</form>

</div><!-- .comments-area -->

	<nav class="navigation post-navigation" role="navigation">
		<h2 class="screen-reader-text">Post navigation</h2>
		<div class="nav-links"><div class="nav-previous"><a href="https://boffosocko.com/2018/03/31/following-taylor-jadin/" rel="prev"><span class="meta-nav" aria-hidden="true">Previous</span> <span class="screen-reader-text">Previous post:</span> <span class="post-title">Following Taylor Jadin</span></a></div><div class="nav-next"><a href="https://boffosocko.com/2018/04/01/facebooked-googled-and-recovering-imagination-identity-education-and-power-medium/" rel="next"><span class="meta-nav" aria-hidden="true">Next</span> <span class="screen-reader-text">Next post:</span> <span class="post-title">&#x1f453; Facebooked, Googled And Recovering Imagination | Identity, Education and Power – Medium</span></a></div></div>
	</nav>
	</main><!-- .site-main -->

	<aside id="content-bottom-widgets" class="content-bottom-widgets" role="complementary">
			<div class="widget-area">
			<section id="custom_html-5" class="widget_text widget widget_custom_html"><h2 class="widget-title">Boffo Socko Publishing</h2><div class="textwidget custom-html-widget"><a href="http://boffosocko.com/publishing/" target="_blank"><img class="alignnone wp-image-55671447 size-medium"  width="390" height="237" src="https://i2.wp.com/boffosocko.com/wp-content/uploads/2014/09/boffo-socko-books-plate-300x200.jpg?resize=390%2C237" alt="Boffo Socko Books" data-recalc-dims="1"/></a></div></section>		</div><!-- .widget-area -->

			<div class="widget-area">
			<section id="custom_html-3" class="widget_text widget widget_custom_html"><h2 class="widget-title">Little Free Library #8424</h2><div class="textwidget custom-html-widget"><a href="http://lfl8424.boffosocko.com/
"><img src="https://i0.wp.com/boffosocko.com/wp-content/uploads/2015/07/LFL-horizontal-with-view-300x169.jpg?resize=390%2C218" alt="A library with a view of the mountains" width="390" height="218" class="size-medium wp-image-55671063" data-recalc-dims="1" /><br />
Come visit us on President's Row, Altadena, CA</a></div></section>		</div><!-- .widget-area -->
	</aside><!-- .content-bottom-widgets -->

</div><!-- .content-area -->


	<aside id="secondary" class="sidebar widget-area" role="complementary">
		<section id="search-2" class="widget widget_search">
<form role="search" method="get" class="search-form" action="https://boffosocko.com/">
	<label>
		<span class="screen-reader-text">Search for:</span>
		<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
	</label>
	<button type="submit" class="search-submit"><span class="screen-reader-text">Search</span></button>
</form>
</section><section id="text-10" class="widget widget_text">			<div class="textwidget"><p><input type="button" onclick="(function(btn){var z=document.createElement('script');document.subtomeBtn=btn;z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})(this)" value="Follow Me!" data-subtome-resource="http://boffosocko.com" data-subtome-feeds="http://boffosocko.com/feed/, http://boffosocko.com/comments/feed/, http://boffosocko.com/feed/?kind=article, http://boffosocko.com/microblog.xml, http://boffosocko.com/instagram.xml, http://boffosocko.com/linkblog.xml, http://boffosocko.com/read.xml, http://boffosocko.com/category/science/information-theory/feed/, http://boffosocko.com/category/mathematics/feed/, http://stream.boffosocko.com/content/all?_t=rss" data-subtome-suggested-service-name="Feedly" data-subtome-suggested-service-url="http://www.feedly.com/home#subscription/feed/{feed}" /></p>
<p>Want to follow me via Email, Newsletter, Social Media, RSS, or Push Notification?<a href="http://boffosocko.com/blog/subscribe/"> View all subscription methods here</a>.</p></div>
		</section>Last Seen: <p class="sloc-display"><img class="icon-location" aria-label="Location: " aria-hidden="true" src="https://boffosocko.com/wp-content/plugins/simple-location/location.svg" /><span class="p-location"><data class="p-latitude" value="34.169265"></data>
					<data class="p-latitude" value="-118.120980"></data><a href="http://maps.google.com/maps?q=loc:34.1692647,-118.1209797">1441 E Washington Blvd, Pasadena, CA, 91104, United States</a></span></p><div class="sloc-weather"><span aria-label="haze" title="haze" ><svg class="svg-icon svg-wi-day-haze" aria-hidden="true"><use xlink:href="https://boffosocko.com/wp-content/plugins/simple-location/weather-icons.svg#wi-day-haze"></use></svg></span>74&deg;F<section id="archives-3" class="widget widget_archive"><h2 class="widget-title">Archives</h2>		<label class="screen-reader-text" for="archives-dropdown-3">Archives</label>
		<select id="archives-dropdown-3" name="archive-dropdown" onchange='document.location.href=this.options[this.selectedIndex].value;'>

			<option value="">Select Month</option>
				<option value='https://boffosocko.com/2018/11/'> November 2018 &nbsp;(29)</option>
	<option value='https://boffosocko.com/2018/10/'> October 2018 &nbsp;(482)</option>
	<option value='https://boffosocko.com/2018/09/'> September 2018 &nbsp;(528)</option>
	<option value='https://boffosocko.com/2018/08/'> August 2018 &nbsp;(394)</option>
	<option value='https://boffosocko.com/2018/07/'> July 2018 &nbsp;(381)</option>
	<option value='https://boffosocko.com/2018/06/'> June 2018 &nbsp;(256)</option>
	<option value='https://boffosocko.com/2018/05/'> May 2018 &nbsp;(325)</option>
	<option value='https://boffosocko.com/2018/04/'> April 2018 &nbsp;(278)</option>
	<option value='https://boffosocko.com/2018/03/'> March 2018 &nbsp;(273)</option>
	<option value='https://boffosocko.com/2018/02/'> February 2018 &nbsp;(293)</option>
	<option value='https://boffosocko.com/2018/01/'> January 2018 &nbsp;(221)</option>
	<option value='https://boffosocko.com/2017/12/'> December 2017 &nbsp;(149)</option>
	<option value='https://boffosocko.com/2017/11/'> November 2017 &nbsp;(151)</option>
	<option value='https://boffosocko.com/2017/10/'> October 2017 &nbsp;(156)</option>
	<option value='https://boffosocko.com/2017/09/'> September 2017 &nbsp;(100)</option>
	<option value='https://boffosocko.com/2017/08/'> August 2017 &nbsp;(158)</option>
	<option value='https://boffosocko.com/2017/07/'> July 2017 &nbsp;(130)</option>
	<option value='https://boffosocko.com/2017/06/'> June 2017 &nbsp;(114)</option>
	<option value='https://boffosocko.com/2017/05/'> May 2017 &nbsp;(150)</option>
	<option value='https://boffosocko.com/2017/04/'> April 2017 &nbsp;(110)</option>
	<option value='https://boffosocko.com/2017/03/'> March 2017 &nbsp;(171)</option>
	<option value='https://boffosocko.com/2017/02/'> February 2017 &nbsp;(207)</option>
	<option value='https://boffosocko.com/2017/01/'> January 2017 &nbsp;(150)</option>
	<option value='https://boffosocko.com/2016/12/'> December 2016 &nbsp;(165)</option>
	<option value='https://boffosocko.com/2016/11/'> November 2016 &nbsp;(77)</option>
	<option value='https://boffosocko.com/2016/10/'> October 2016 &nbsp;(47)</option>
	<option value='https://boffosocko.com/2016/09/'> September 2016 &nbsp;(50)</option>
	<option value='https://boffosocko.com/2016/08/'> August 2016 &nbsp;(38)</option>
	<option value='https://boffosocko.com/2016/07/'> July 2016 &nbsp;(28)</option>
	<option value='https://boffosocko.com/2016/06/'> June 2016 &nbsp;(32)</option>
	<option value='https://boffosocko.com/2016/05/'> May 2016 &nbsp;(27)</option>
	<option value='https://boffosocko.com/2016/04/'> April 2016 &nbsp;(25)</option>
	<option value='https://boffosocko.com/2016/03/'> March 2016 &nbsp;(13)</option>
	<option value='https://boffosocko.com/2016/02/'> February 2016 &nbsp;(8)</option>
	<option value='https://boffosocko.com/2016/01/'> January 2016 &nbsp;(10)</option>
	<option value='https://boffosocko.com/2015/12/'> December 2015 &nbsp;(4)</option>
	<option value='https://boffosocko.com/2015/11/'> November 2015 &nbsp;(18)</option>
	<option value='https://boffosocko.com/2015/10/'> October 2015 &nbsp;(6)</option>
	<option value='https://boffosocko.com/2015/09/'> September 2015 &nbsp;(13)</option>
	<option value='https://boffosocko.com/2015/08/'> August 2015 &nbsp;(14)</option>
	<option value='https://boffosocko.com/2015/07/'> July 2015 &nbsp;(17)</option>
	<option value='https://boffosocko.com/2015/06/'> June 2015 &nbsp;(5)</option>
	<option value='https://boffosocko.com/2015/05/'> May 2015 &nbsp;(14)</option>
	<option value='https://boffosocko.com/2015/04/'> April 2015 &nbsp;(9)</option>
	<option value='https://boffosocko.com/2015/03/'> March 2015 &nbsp;(9)</option>
	<option value='https://boffosocko.com/2015/01/'> January 2015 &nbsp;(1)</option>
	<option value='https://boffosocko.com/2014/12/'> December 2014 &nbsp;(3)</option>
	<option value='https://boffosocko.com/2014/11/'> November 2014 &nbsp;(1)</option>
	<option value='https://boffosocko.com/2014/10/'> October 2014 &nbsp;(8)</option>
	<option value='https://boffosocko.com/2014/09/'> September 2014 &nbsp;(8)</option>
	<option value='https://boffosocko.com/2014/08/'> August 2014 &nbsp;(9)</option>
	<option value='https://boffosocko.com/2014/07/'> July 2014 &nbsp;(7)</option>
	<option value='https://boffosocko.com/2014/06/'> June 2014 &nbsp;(7)</option>
	<option value='https://boffosocko.com/2014/05/'> May 2014 &nbsp;(5)</option>
	<option value='https://boffosocko.com/2014/04/'> April 2014 &nbsp;(7)</option>
	<option value='https://boffosocko.com/2014/03/'> March 2014 &nbsp;(10)</option>
	<option value='https://boffosocko.com/2014/02/'> February 2014 &nbsp;(2)</option>
	<option value='https://boffosocko.com/2014/01/'> January 2014 &nbsp;(3)</option>
	<option value='https://boffosocko.com/2013/11/'> November 2013 &nbsp;(2)</option>
	<option value='https://boffosocko.com/2013/10/'> October 2013 &nbsp;(4)</option>
	<option value='https://boffosocko.com/2013/09/'> September 2013 &nbsp;(8)</option>
	<option value='https://boffosocko.com/2013/08/'> August 2013 &nbsp;(3)</option>
	<option value='https://boffosocko.com/2013/07/'> July 2013 &nbsp;(2)</option>
	<option value='https://boffosocko.com/2013/06/'> June 2013 &nbsp;(1)</option>
	<option value='https://boffosocko.com/2013/04/'> April 2013 &nbsp;(1)</option>
	<option value='https://boffosocko.com/2013/03/'> March 2013 &nbsp;(2)</option>
	<option value='https://boffosocko.com/2013/02/'> February 2013 &nbsp;(2)</option>
	<option value='https://boffosocko.com/2013/01/'> January 2013 &nbsp;(2)</option>
	<option value='https://boffosocko.com/2012/12/'> December 2012 &nbsp;(1)</option>
	<option value='https://boffosocko.com/2012/11/'> November 2012 &nbsp;(2)</option>
	<option value='https://boffosocko.com/2012/09/'> September 2012 &nbsp;(4)</option>
	<option value='https://boffosocko.com/2012/08/'> August 2012 &nbsp;(4)</option>
	<option value='https://boffosocko.com/2012/07/'> July 2012 &nbsp;(5)</option>
	<option value='https://boffosocko.com/2012/06/'> June 2012 &nbsp;(4)</option>
	<option value='https://boffosocko.com/2012/05/'> May 2012 &nbsp;(1)</option>
	<option value='https://boffosocko.com/2012/04/'> April 2012 &nbsp;(3)</option>
	<option value='https://boffosocko.com/2012/03/'> March 2012 &nbsp;(1)</option>
	<option value='https://boffosocko.com/2012/02/'> February 2012 &nbsp;(1)</option>
	<option value='https://boffosocko.com/2012/01/'> January 2012 &nbsp;(1)</option>
	<option value='https://boffosocko.com/2011/12/'> December 2011 &nbsp;(1)</option>
	<option value='https://boffosocko.com/2011/11/'> November 2011 &nbsp;(2)</option>
	<option value='https://boffosocko.com/2011/10/'> October 2011 &nbsp;(2)</option>
	<option value='https://boffosocko.com/2011/09/'> September 2011 &nbsp;(1)</option>
	<option value='https://boffosocko.com/2011/08/'> August 2011 &nbsp;(4)</option>
	<option value='https://boffosocko.com/2011/07/'> July 2011 &nbsp;(4)</option>
	<option value='https://boffosocko.com/2011/06/'> June 2011 &nbsp;(5)</option>
	<option value='https://boffosocko.com/2011/05/'> May 2011 &nbsp;(5)</option>
	<option value='https://boffosocko.com/2011/04/'> April 2011 &nbsp;(5)</option>
	<option value='https://boffosocko.com/2011/03/'> March 2011 &nbsp;(5)</option>
	<option value='https://boffosocko.com/2011/02/'> February 2011 &nbsp;(2)</option>
	<option value='https://boffosocko.com/2011/01/'> January 2011 &nbsp;(2)</option>
	<option value='https://boffosocko.com/2010/12/'> December 2010 &nbsp;(7)</option>
	<option value='https://boffosocko.com/2010/11/'> November 2010 &nbsp;(2)</option>
	<option value='https://boffosocko.com/2010/09/'> September 2010 &nbsp;(3)</option>
	<option value='https://boffosocko.com/2010/08/'> August 2010 &nbsp;(6)</option>
	<option value='https://boffosocko.com/2010/07/'> July 2010 &nbsp;(1)</option>
	<option value='https://boffosocko.com/2010/06/'> June 2010 &nbsp;(3)</option>
	<option value='https://boffosocko.com/2010/05/'> May 2010 &nbsp;(5)</option>
	<option value='https://boffosocko.com/2010/01/'> January 2010 &nbsp;(1)</option>
	<option value='https://boffosocko.com/2009/04/'> April 2009 &nbsp;(1)</option>
	<option value='https://boffosocko.com/2008/11/'> November 2008 &nbsp;(1)</option>
	<option value='https://boffosocko.com/2008/09/'> September 2008 &nbsp;(1)</option>
	<option value='https://boffosocko.com/2006/04/'> April 2006 &nbsp;(1)</option>
	<option value='https://boffosocko.com/2001/04/'> April 2001 &nbsp;(1)</option>
	<option value='https://boffosocko.com/2000/10/'> October 2000 &nbsp;(1)</option>
	<option value='https://boffosocko.com/1999/11/'> November 1999 &nbsp;(1)</option>
	<option value='https://boffosocko.com/1997/06/'> June 1997 &nbsp;(1)</option>
	<option value='https://boffosocko.com/1995/11/'> November 1995 &nbsp;(1)</option>
	<option value='https://boffosocko.com/1995/10/'> October 1995 &nbsp;(1)</option>
	<option value='https://boffosocko.com/1995/09/'> September 1995 &nbsp;(2)</option>
	<option value='https://boffosocko.com/1995/06/'> June 1995 &nbsp;(1)</option>
	<option value='https://boffosocko.com/1995/02/'> February 1995 &nbsp;(1)</option>
	<option value='https://boffosocko.com/1994/11/'> November 1994 &nbsp;(1)</option>

		</select>
		</section><section id="categories-3" class="widget widget_categories"><h2 class="widget-title">Categories</h2>		<ul>
	<li class="cat-item cat-item-7"><a href="https://boffosocko.com/category/education/" >Education</a> (315)
</li>
	<li class="cat-item cat-item-3"><a href="https://boffosocko.com/category/entertainment-industry/" >Entertainment Industry</a> (241)
<ul class='children'>
	<li class="cat-item cat-item-18"><a href="https://boffosocko.com/category/entertainment-industry/awards/" >Awards</a> (5)
</li>
	<li class="cat-item cat-item-355"><a href="https://boffosocko.com/category/entertainment-industry/development-entertainment-industry/" >Development</a> (9)
</li>
	<li class="cat-item cat-item-19"><a href="https://boffosocko.com/category/entertainment-industry/distribution-entertainment-industry/" >Distribution</a> (34)
</li>
	<li class="cat-item cat-item-5"><a href="https://boffosocko.com/category/entertainment-industry/finance/" >Finance</a> (6)
</li>
	<li class="cat-item cat-item-12"><a href="https://boffosocko.com/category/entertainment-industry/production/" >Production</a> (8)
</li>
	<li class="cat-item cat-item-13"><a href="https://boffosocko.com/category/entertainment-industry/publishing-entertainment-industry/" >Publishing</a> (158)
</li>
	<li class="cat-item cat-item-14"><a href="https://boffosocko.com/category/entertainment-industry/representation/" >Representation</a> (11)
</li>
</ul>
</li>
	<li class="cat-item cat-item-686"><a href="https://boffosocko.com/category/events/" >Events</a> (100)
</li>
	<li class="cat-item cat-item-6"><a href="https://boffosocko.com/category/food/" >Food</a> (185)
</li>
	<li class="cat-item cat-item-1009"><a href="https://boffosocko.com/category/furniture/" >Furniture</a> (2)
</li>
	<li class="cat-item cat-item-653"><a href="https://boffosocko.com/category/indieweb/" >IndieWeb</a> (607)
</li>
	<li class="cat-item cat-item-152"><a href="https://boffosocko.com/category/journalism/" >Journalism</a> (141)
</li>
	<li class="cat-item cat-item-9"><a href="https://boffosocko.com/category/linguistics/" >Linguistics</a> (84)
</li>
	<li class="cat-item cat-item-4444"><a href="https://boffosocko.com/category/local/" >Local</a> (55)
</li>
	<li class="cat-item cat-item-10"><a href="https://boffosocko.com/category/mathematics/" >Mathematics</a> (257)
</li>
	<li class="cat-item cat-item-834"><a href="https://boffosocko.com/category/memory/" >Memory</a> (12)
</li>
	<li class="cat-item cat-item-4411"><a href="https://boffosocko.com/category/microcast/" >Microcast</a> (2)
</li>
	<li class="cat-item cat-item-4802"><a href="https://boffosocko.com/category/podcast/" >Podcast</a> (10)
</li>
	<li class="cat-item cat-item-334"><a href="https://boffosocko.com/category/quote/" >Quote</a> (71)
</li>
	<li class="cat-item cat-item-15"><a href="https://boffosocko.com/category/review/" >Review</a> (60)
</li>
	<li class="cat-item cat-item-16"><a href="https://boffosocko.com/category/science/" >Science</a> (413)
<ul class='children'>
	<li class="cat-item cat-item-2"><a href="https://boffosocko.com/category/science/big-history/" >Big History</a> (41)
</li>
	<li class="cat-item cat-item-573"><a href="https://boffosocko.com/category/science/complexity/" >Complexity</a> (91)
</li>
	<li class="cat-item cat-item-4"><a href="https://boffosocko.com/category/science/evolution/" >Evolution</a> (61)
</li>
	<li class="cat-item cat-item-687"><a href="https://boffosocko.com/category/science/information-theory/" >Information Theory</a> (175)
</li>
	<li class="cat-item cat-item-11"><a href="https://boffosocko.com/category/science/microbiology/" >Microbiology</a> (102)
</li>
</ul>
</li>
	<li class="cat-item cat-item-484"><a href="https://boffosocko.com/category/social-stream/" >Social Stream</a> (5,615)
<ul class='children'>
	<li class="cat-item cat-item-4684"><a href="https://boffosocko.com/category/social-stream/acquisition/" >Acquisition</a> (13)
</li>
	<li class="cat-item cat-item-5621"><a href="https://boffosocko.com/category/social-stream/annotation/" >Annotation</a> (33)
</li>
	<li class="cat-item cat-item-964"><a href="https://boffosocko.com/category/social-stream/bookmark/" >Bookmark</a> (364)
</li>
	<li class="cat-item cat-item-968"><a href="https://boffosocko.com/category/social-stream/checkin/" >Checkin</a> (1,012)
</li>
	<li class="cat-item cat-item-4509"><a href="https://boffosocko.com/category/social-stream/drink/" >Drink</a> (52)
</li>
	<li class="cat-item cat-item-4551"><a href="https://boffosocko.com/category/social-stream/eat/" >Eat</a> (51)
</li>
	<li class="cat-item cat-item-4796"><a href="https://boffosocko.com/category/social-stream/exercise/" >Exercise</a> (7)
</li>
	<li class="cat-item cat-item-1502"><a href="https://boffosocko.com/category/social-stream/favorite/" >Favorite</a> (3)
</li>
	<li class="cat-item cat-item-4430"><a href="https://boffosocko.com/category/social-stream/follow/" >Follow</a> (62)
</li>
	<li class="cat-item cat-item-5731"><a href="https://boffosocko.com/category/social-stream/highlight/" >Highlight</a> (29)
</li>
	<li class="cat-item cat-item-936"><a href="https://boffosocko.com/category/social-stream/instagram/" >Instagram</a> (272)
</li>
	<li class="cat-item cat-item-4701"><a href="https://boffosocko.com/category/social-stream/issue/" >Issue</a> (22)
</li>
	<li class="cat-item cat-item-5736"><a href="https://boffosocko.com/category/social-stream/itch/" >Itch</a> (14)
</li>
	<li class="cat-item cat-item-1932"><a href="https://boffosocko.com/category/social-stream/jam/" >Jam</a> (15)
</li>
	<li class="cat-item cat-item-486"><a href="https://boffosocko.com/category/social-stream/like/" >Like</a> (101)
</li>
	<li class="cat-item cat-item-1382"><a href="https://boffosocko.com/category/social-stream/listen/" >Listen</a> (472)
</li>
	<li class="cat-item cat-item-4461"><a href="https://boffosocko.com/category/social-stream/photo/" >Photo</a> (12)
</li>
	<li class="cat-item cat-item-4538"><a href="https://boffosocko.com/category/social-stream/play/" >Play</a> (3)
</li>
	<li class="cat-item cat-item-945"><a href="https://boffosocko.com/category/social-stream/read/" >Read</a> (2,002)
</li>
	<li class="cat-item cat-item-485"><a href="https://boffosocko.com/category/social-stream/reply/" >Reply</a> (176)
</li>
	<li class="cat-item cat-item-487"><a href="https://boffosocko.com/category/social-stream/repost/" >Repost</a> (36)
</li>
	<li class="cat-item cat-item-488"><a href="https://boffosocko.com/category/social-stream/rsvp/" >RSVP</a> (43)
</li>
	<li class="cat-item cat-item-1477"><a href="https://boffosocko.com/category/social-stream/watch/" >Watch</a> (707)
</li>
	<li class="cat-item cat-item-6767"><a href="https://boffosocko.com/category/social-stream/weather/" >Weather</a> (2)
</li>
	<li class="cat-item cat-item-1404"><a href="https://boffosocko.com/category/social-stream/wish/" >Wish</a> (7)
</li>
</ul>
</li>
	<li class="cat-item cat-item-17"><a href="https://boffosocko.com/category/technology/" >Technology</a> (174)
</li>
	<li class="cat-item cat-item-4385"><a href="https://boffosocko.com/category/wordpress/" >WordPress</a> (195)
</li>
		</ul>
</section><section id="tag_cloud-3" class="widget widget_tag_cloud"><h2 class="widget-title">Tags</h2><div class="tagcloud"><ul class='wp-tag-cloud' role='list'>
	<li><a href="https://boffosocko.com/tag/biology/" class="tag-cloud-link tag-link-46 tag-link-position-1" style="font-size: 1em;">biology</a></li>
	<li><a href="https://boffosocko.com/tag/blogging/" class="tag-cloud-link tag-link-288 tag-link-position-2" style="font-size: 1em;">blogging</a></li>
	<li><a href="https://boffosocko.com/tag/books/" class="tag-cloud-link tag-link-299 tag-link-position-3" style="font-size: 1em;">books</a></li>
	<li><a href="https://boffosocko.com/tag/culture/" class="tag-cloud-link tag-link-1675 tag-link-position-4" style="font-size: 1em;">culture</a></li>
	<li><a href="https://boffosocko.com/tag/dooo/" class="tag-cloud-link tag-link-3928 tag-link-position-5" style="font-size: 1em;">DoOO</a></li>
	<li><a href="https://boffosocko.com/tag/eat-this-podcast/" class="tag-cloud-link tag-link-2532 tag-link-position-6" style="font-size: 1em;">Eat This Podcast</a></li>
	<li><a href="https://boffosocko.com/tag/economics/" class="tag-cloud-link tag-link-100 tag-link-position-7" style="font-size: 1em;">economics</a></li>
	<li><a href="https://boffosocko.com/tag/edtech/" class="tag-cloud-link tag-link-1256 tag-link-position-8" style="font-size: 1em;">edtech</a></li>
	<li><a href="https://boffosocko.com/tag/edu522/" class="tag-cloud-link tag-link-5996 tag-link-position-9" style="font-size: 1em;">edu522</a></li>
	<li><a href="https://boffosocko.com/tag/evolution/" class="tag-cloud-link tag-link-113 tag-link-position-10" style="font-size: 1em;">evolution</a></li>
	<li><a href="https://boffosocko.com/tag/facebook/" class="tag-cloud-link tag-link-1078 tag-link-position-11" style="font-size: 1em;">Facebook</a></li>
	<li><a href="https://boffosocko.com/tag/feed-readers/" class="tag-cloud-link tag-link-4081 tag-link-position-12" style="font-size: 1em;">feed readers</a></li>
	<li><a href="https://boffosocko.com/tag/history/" class="tag-cloud-link tag-link-133 tag-link-position-13" style="font-size: 1em;">history</a></li>
	<li><a href="https://boffosocko.com/tag/hypothes-is/" class="tag-cloud-link tag-link-969 tag-link-position-14" style="font-size: 1em;">Hypothes.is</a></li>
	<li><a href="https://boffosocko.com/tag/information-theory/" class="tag-cloud-link tag-link-692 tag-link-position-15" style="font-size: 1em;">Information Theory</a></li>
	<li><a href="https://boffosocko.com/tag/itbio/" class="tag-cloud-link tag-link-695 tag-link-position-16" style="font-size: 1em;">ITBio</a></li>
	<li><a href="https://boffosocko.com/tag/japanese/" class="tag-cloud-link tag-link-3032 tag-link-position-17" style="font-size: 1em;">Japanese</a></li>
	<li><a href="https://boffosocko.com/tag/library/" class="tag-cloud-link tag-link-535 tag-link-position-18" style="font-size: 1em;">library</a></li>
	<li><a href="https://boffosocko.com/tag/mathematics/" class="tag-cloud-link tag-link-164 tag-link-position-19" style="font-size: 1em;">mathematics</a></li>
	<li><a href="https://boffosocko.com/tag/micro-blog/" class="tag-cloud-link tag-link-2018 tag-link-position-20" style="font-size: 1em;">micro.blog</a></li>
	<li><a href="https://boffosocko.com/tag/micropub/" class="tag-cloud-link tag-link-2022 tag-link-position-21" style="font-size: 1em;">micropub</a></li>
	<li><a href="https://boffosocko.com/tag/music/" class="tag-cloud-link tag-link-181 tag-link-position-22" style="font-size: 1em;">music</a></li>
	<li><a href="https://boffosocko.com/tag/own-your-data/" class="tag-cloud-link tag-link-1568 tag-link-position-23" style="font-size: 1em;">own your data</a></li>
	<li><a href="https://boffosocko.com/tag/pasadena/" class="tag-cloud-link tag-link-1057 tag-link-position-24" style="font-size: 1em;">Pasadena</a></li>
	<li><a href="https://boffosocko.com/tag/pedagogy/" class="tag-cloud-link tag-link-192 tag-link-position-25" style="font-size: 1em;">pedagogy</a></li>
	<li><a href="https://boffosocko.com/tag/physics/" class="tag-cloud-link tag-link-198 tag-link-position-26" style="font-size: 1em;">physics</a></li>
	<li><a href="https://boffosocko.com/tag/podcast/" class="tag-cloud-link tag-link-783 tag-link-position-27" style="font-size: 1em;">podcast</a></li>
	<li><a href="https://boffosocko.com/tag/politics/" class="tag-cloud-link tag-link-200 tag-link-position-28" style="font-size: 1em;">politics</a></li>
	<li><a href="https://boffosocko.com/tag/privacy/" class="tag-cloud-link tag-link-490 tag-link-position-29" style="font-size: 1em;">privacy</a></li>
	<li><a href="https://boffosocko.com/tag/psychology/" class="tag-cloud-link tag-link-615 tag-link-position-30" style="font-size: 1em;">psychology</a></li>
	<li><a href="https://boffosocko.com/tag/quote/" class="tag-cloud-link tag-link-214 tag-link-position-31" style="font-size: 1em;">quote</a></li>
	<li><a href="https://boffosocko.com/tag/racism/" class="tag-cloud-link tag-link-1947 tag-link-position-32" style="font-size: 1em;">racism</a></li>
	<li><a href="https://boffosocko.com/tag/research/" class="tag-cloud-link tag-link-223 tag-link-position-33" style="font-size: 1em;">research</a></li>
	<li><a href="https://boffosocko.com/tag/rss/" class="tag-cloud-link tag-link-519 tag-link-position-34" style="font-size: 1em;">RSS</a></li>
	<li><a href="https://boffosocko.com/tag/science/" class="tag-cloud-link tag-link-693 tag-link-position-35" style="font-size: 1em;">Science</a></li>
	<li><a href="https://boffosocko.com/tag/social-media/" class="tag-cloud-link tag-link-236 tag-link-position-36" style="font-size: 1em;">social media</a></li>
	<li><a href="https://boffosocko.com/tag/the-daily/" class="tag-cloud-link tag-link-4726 tag-link-position-37" style="font-size: 1em;">The Daily</a></li>
	<li><a href="https://boffosocko.com/tag/this-week-in-google/" class="tag-cloud-link tag-link-1996 tag-link-position-38" style="font-size: 1em;">This Week in Google</a></li>
	<li><a href="https://boffosocko.com/tag/trumpadministration/" class="tag-cloud-link tag-link-2852 tag-link-position-39" style="font-size: 1em;">Trump administration</a></li>
	<li><a href="https://boffosocko.com/tag/twitter/" class="tag-cloud-link tag-link-264 tag-link-position-40" style="font-size: 1em;">Twitter</a></li>
	<li><a href="https://boffosocko.com/tag/want-to-read/" class="tag-cloud-link tag-link-1683 tag-link-position-41" style="font-size: 1em;">want to read</a></li>
	<li><a href="https://boffosocko.com/tag/web-development/" class="tag-cloud-link tag-link-656 tag-link-position-42" style="font-size: 1em;">web development</a></li>
	<li><a href="https://boffosocko.com/tag/webmention/" class="tag-cloud-link tag-link-984 tag-link-position-43" style="font-size: 1em;">Webmention</a></li>
	<li><a href="https://boffosocko.com/tag/wordpress/" class="tag-cloud-link tag-link-931 tag-link-position-44" style="font-size: 1em;">WordPress</a></li>
	<li><a href="https://boffosocko.com/tag/youtube/" class="tag-cloud-link tag-link-2119 tag-link-position-45" style="font-size: 1em;">YouTube</a></li>
</ul>
</div>
</section><section id="tag_cloud-4" class="widget widget_tag_cloud"><h2 class="widget-title">Post Kinds</h2><div class="tagcloud"><ul class='wp-tag-cloud' role='list'>
	<li><a href="https://boffosocko.com/kind/acquisition/" class="tag-cloud-link tag-link-4695 tag-link-position-1" style="font-size: 1em;" aria-label="acquisition (10 items)">acquisition<span class="tag-link-count"> (10)</span></a></li>
	<li><a href="https://boffosocko.com/kind/annotation/" class="tag-cloud-link tag-link-5749 tag-link-position-2" style="font-size: 1em;" aria-label="annotation (10 items)">annotation<span class="tag-link-count"> (10)</span></a></li>
	<li><a href="https://boffosocko.com/kind/article/" class="tag-cloud-link tag-link-474 tag-link-position-3" style="font-size: 1em;" aria-label="article (301 items)">article<span class="tag-link-count"> (301)</span></a></li>
	<li><a href="https://boffosocko.com/kind/audio/" class="tag-cloud-link tag-link-4001 tag-link-position-4" style="font-size: 1em;" aria-label="audio (12 items)">audio<span class="tag-link-count"> (12)</span></a></li>
	<li><a href="https://boffosocko.com/kind/bookmark/" class="tag-cloud-link tag-link-472 tag-link-position-5" style="font-size: 1em;" aria-label="bookmark (381 items)">bookmark<span class="tag-link-count"> (381)</span></a></li>
	<li><a href="https://boffosocko.com/kind/checkin/" class="tag-cloud-link tag-link-479 tag-link-position-6" style="font-size: 1em;" aria-label="checkin (1,037 items)">checkin<span class="tag-link-count"> (1037)</span></a></li>
	<li><a href="https://boffosocko.com/kind/chicken/" class="tag-cloud-link tag-link-4654 tag-link-position-7" style="font-size: 1em;" aria-label="chicken (5 items)">chicken<span class="tag-link-count"> (5)</span></a></li>
	<li><a href="https://boffosocko.com/kind/drink/" class="tag-cloud-link tag-link-770 tag-link-position-8" style="font-size: 1em;" aria-label="drink (23 items)">drink<span class="tag-link-count"> (23)</span></a></li>
	<li><a href="https://boffosocko.com/kind/eat/" class="tag-cloud-link tag-link-769 tag-link-position-9" style="font-size: 1em;" aria-label="eat (48 items)">eat<span class="tag-link-count"> (48)</span></a></li>
	<li><a href="https://boffosocko.com/kind/exercise/" class="tag-cloud-link tag-link-502 tag-link-position-10" style="font-size: 1em;" aria-label="exercise (7 items)">exercise<span class="tag-link-count"> (7)</span></a></li>
	<li><a href="https://boffosocko.com/kind/favorite/" class="tag-cloud-link tag-link-468 tag-link-position-11" style="font-size: 1em;" aria-label="favorite (2 items)">favorite<span class="tag-link-count"> (2)</span></a></li>
	<li><a href="https://boffosocko.com/kind/follow/" class="tag-cloud-link tag-link-771 tag-link-position-12" style="font-size: 1em;" aria-label="follow (66 items)">follow<span class="tag-link-count"> (66)</span></a></li>
	<li><a href="https://boffosocko.com/kind/highlight/" class="tag-cloud-link tag-link-5729 tag-link-position-13" style="font-size: 1em;" aria-label="highlight (12 items)">highlight<span class="tag-link-count"> (12)</span></a></li>
	<li><a href="https://boffosocko.com/kind/issue/" class="tag-cloud-link tag-link-4003 tag-link-position-14" style="font-size: 1em;" aria-label="issue (18 items)">issue<span class="tag-link-count"> (18)</span></a></li>
	<li><a href="https://boffosocko.com/kind/itch/" class="tag-cloud-link tag-link-5735 tag-link-position-15" style="font-size: 1em;" aria-label="itch (6 items)">itch<span class="tag-link-count"> (6)</span></a></li>
	<li><a href="https://boffosocko.com/kind/jam/" class="tag-cloud-link tag-link-772 tag-link-position-16" style="font-size: 1em;" aria-label="jam (15 items)">jam<span class="tag-link-count"> (15)</span></a></li>
	<li><a href="https://boffosocko.com/kind/like/" class="tag-cloud-link tag-link-467 tag-link-position-17" style="font-size: 1em;" aria-label="like (91 items)">like<span class="tag-link-count"> (91)</span></a></li>
	<li><a href="https://boffosocko.com/kind/listen/" class="tag-cloud-link tag-link-477 tag-link-position-18" style="font-size: 1em;" aria-label="listen (478 items)">listen<span class="tag-link-count"> (478)</span></a></li>
	<li><a href="https://boffosocko.com/kind/note/" class="tag-cloud-link tag-link-475 tag-link-position-19" style="font-size: 1em;" aria-label="note (436 items)">note<span class="tag-link-count"> (436)</span></a></li>
	<li><a href="https://boffosocko.com/kind/photo/" class="tag-cloud-link tag-link-476 tag-link-position-20" style="font-size: 1em;" aria-label="photo (319 items)">photo<span class="tag-link-count"> (319)</span></a></li>
	<li><a href="https://boffosocko.com/kind/play/" class="tag-cloud-link tag-link-480 tag-link-position-21" style="font-size: 1em;" aria-label="play (3 items)">play<span class="tag-link-count"> (3)</span></a></li>
	<li><a href="https://boffosocko.com/kind/quote/" class="tag-cloud-link tag-link-860 tag-link-position-22" style="font-size: 1em;" aria-label="quote (6 items)">quote<span class="tag-link-count"> (6)</span></a></li>
	<li><a href="https://boffosocko.com/kind/read/" class="tag-cloud-link tag-link-859 tag-link-position-23" style="font-size: 1em;" aria-label="read (1,739 items)">read<span class="tag-link-count"> (1739)</span></a></li>
	<li><a href="https://boffosocko.com/kind/reply/" class="tag-cloud-link tag-link-469 tag-link-position-24" style="font-size: 1em;" aria-label="reply (223 items)">reply<span class="tag-link-count"> (223)</span></a></li>
	<li><a href="https://boffosocko.com/kind/repost/" class="tag-cloud-link tag-link-471 tag-link-position-25" style="font-size: 1em;" aria-label="repost (31 items)">repost<span class="tag-link-count"> (31)</span></a></li>
	<li><a href="https://boffosocko.com/kind/rsvp/" class="tag-cloud-link tag-link-470 tag-link-position-26" style="font-size: 1em;" aria-label="rsvp (51 items)">rsvp<span class="tag-link-count"> (51)</span></a></li>
	<li><a href="https://boffosocko.com/kind/watch/" class="tag-cloud-link tag-link-478 tag-link-position-27" style="font-size: 1em;" aria-label="watch (704 items)">watch<span class="tag-link-count"> (704)</span></a></li>
	<li><a href="https://boffosocko.com/kind/wish/" class="tag-cloud-link tag-link-481 tag-link-position-28" style="font-size: 1em;" aria-label="wish (7 items)">wish<span class="tag-link-count"> (7)</span></a></li>
</ul>
</div>
</section><section id="text-24" class="widget widget_text"><h2 class="widget-title">Upcoming Events</h2>			<div class="textwidget"><p>I&#8217;m planning to attend the following events:</p>
<ul>
<li><a href="https://boffosocko.com/2018/07/27/gems-and-astonishments-of-mathematics-past-and-present-dr-mike-miller-at-ucla-extension/" target="_blank" rel="noopener">Gems And Astonishments of Mathematics: Past and Present</a> <em>(UCLA Continuing Education)</em> &#8211; September 25 &#8211; December 4, 2018, Tuesdays</li>
<li><a href="http://www.innovatepasadena.org/" target="_blank" rel="noopener">Innovate Pasadena</a>: <a href="http://fridaycoffeemeetup.com/" target="_blank" rel="noopener">Friday Coffee Meetups</a></li>
<li><a href="https://connectpasadena.com/" target="_blank" rel="noopener" data-userway-font-size="16">Connect Week Pasadena</a>, October 20-28</li>
<li><a href="https://www.facebook.com/okanouelibrary/" target="_blank" rel="noopener noreferrer">Onanoue Japanese Library</a> &#8211; October TBD</li>
<li><a href="https://knight.domains/thinkdeeper/open-domains-lab/" target="_blank" rel="noopener">Open Domains Lab</a> (first Thursday of the month, every month, from 4 pm to 8 pm CT)</li>
<li><a href="https://www.meetup.com/wordpress-pasadena/" target="_blank" rel="noopener" data-userway-font-size="16">WordPress Pasadena General Meetup</a> – TBD</li>
<li>WordPress Pasadena Developer Meetup &#8211; TBD</li>
<li data-userway-font-size="16"><a href="https://2018.riverside.wordcamp.org/" target="_blank" rel="noopener" data-userway-font-size="16">WordCamp Riverside</a> – November 3-4 (I’m giving a talk at this Camp)</li>
<li><a href="https://openedconference.org/2018/" target="_blank" rel="noopener">OpenEd18</a> &#8211; October 10 &#8211; 12, Niagara Falls, New York</li>
</ul>
</div>
		</section>	</aside><!-- .sidebar .widget-area -->

		</div><!-- .site-content -->

		<footer id="colophon" class="site-footer" role="contentinfo">
							<nav class="main-navigation" role="navigation" aria-label="Footer Primary Menu">
					<div class="menu-short-menu-container"><ul id="menu-short-menu-1" class="primary-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-55671784"><a href="https://boffosocko.com/about/">About</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671801"><a href="https://boffosocko.com/about/website-philosophy-structure/">Website Philosophy &#038; Structure</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55675279"><a href="https://boffosocko.com/about/social-media-accounts-and-links/">Social Media Accounts and Links</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55673899"><a title="What I&#8217;m up to most recently" href="https://boffosocko.com/now/">Now</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55700159"><a title="(aka Blogroll)" href="https://boffosocko.com/about/following/">Following</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55692145"><a href="https://boffosocko.com/mentions/">@Mentions</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55702996"><a href="https://boffosocko.com/about/supporting/">Supporting</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55699886"><a href="https://boffosocko.com/about/ama/">Ask Me Anything (AMA)</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55686071"><a href="https://boffosocko.com/about/favorite-things/">Favorite Things</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55692103"><a href="https://boffosocko.com/about/bucketlist/">Bucketlist</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671815"><a target="_blank" href="http://www.apsugen.com">Apsugen</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671800"><a target="_blank" href="https://boffosocko.com/about/little-free-library-8424/">Little Free Library #8424</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55726143"><a href="https://boffosocko.com/about/accessibility-statement/">Accessibility Statement</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-has-children menu-item-55671781"><a href="https://boffosocko.com/blog/">Blog</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671787"><a href="https://boffosocko.com/blog/subscribe/">Subscribe</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55723983"><a href="https://boffosocko.com/type/status/"><i class="fa fa-certificate fa- " ></i> Microblog</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55723984"><a href="https://boffosocko.com/type/link/"><i class="fa fa-link fa- " ></i> Linkblog</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55723986"><a href="https://boffosocko.com/tag/an-indieweb-podcast/"><i class="fa fa-microphone fa- " ></i> An IndieWeb Podcast</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55723985"><a href="https://boffosocko.com/category/microcast/"><i class="fa fa-microphone fa- " ></i> Microcast</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-55723954"><a href="http://boffosocko.com/">Posts by Kind</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723956"><a href="https://boffosocko.com/kind/acquisition/"><i class="fa fa-cart-plus fa- " ></i> Acquisitions</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723957"><a href="https://boffosocko.com/kind/annotation/"><i class="fa fa-leanpub fa- " ></i> Annotations</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723958"><a href="https://boffosocko.com/kind/article/"><i class="fa fa-file-text fa- " ></i> Articles</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723959"><a href="https://boffosocko.com/kind/audio/"><i class="fa fa-music fa- " ></i> Audio files</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723960"><a href="https://boffosocko.com/kind/bookmark/"><i class="fa fa-bookmark fa- " ></i> Bookmarks</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723961"><a href="https://boffosocko.com/kind/checkin/"><i class="fa fa-location-arrow fa- " ></i> Checkins</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723962"><a href="https://boffosocko.com/kind/chicken/"><i class="fa fa-leaf fa- " ></i> Chickens</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723963"><a href="https://boffosocko.com/kind/drink/"><i class="fa fa-glass fa- " ></i> Drinks</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723964"><a href="https://boffosocko.com/kind/eat/"><i class="fa fa-cutlery fa- " ></i> Eats</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723965"><a href="https://boffosocko.com/kind/exercise/"><i class="fa fa-bicycle fa- " ></i> Exercise</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723966"><a href="https://boffosocko.com/kind/favorite/"><i class="fa fa-star fa- " ></i> Favorites</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723967"><a href="https://boffosocko.com/kind/follow/"><i class="fa fa-user-plus fa- " ></i> Follows</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723968"><a href="https://boffosocko.com/kind/highlight/"><i class="fa fa-pencil fa- " ></i> Highlights</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723969"><a href="https://boffosocko.com/kind/issue/"><i class="fa fa-bug fa- " ></i> Issues</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723970"><a href="https://boffosocko.com/kind/itch/"><i class="fa fa-check-square-o fa- " ></i> Itches</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723971"><a href="https://boffosocko.com/kind/jam/"><i class="fa fa-music fa- " ></i> Jams</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723972"><a href="https://boffosocko.com/kind/like/"><i class="fa fa-heart fa- " ></i> likes</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723973"><a href="https://boffosocko.com/kind/listen/"><i class="fa fa-headphones fa- " ></i> Listens</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723974"><a href="https://boffosocko.com/kind/note/"><i class="fa fa-sticky-note fa- " ></i> Notes</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723975"><a href="https://boffosocko.com/kind/photo/"><i class="fa fa-picture-o fa- " ></i> Photos</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723976"><a href="https://boffosocko.com/kind/quote/"><i class="fa fa-quote-left fa- " ></i> Quotes</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723955"><a href="https://boffosocko.com/kind/read/"><i class="fa fa-book fa- " ></i> Reads</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723977"><a href="https://boffosocko.com/kind/reply/"><i class="fa fa-reply fa- " ></i> Replies</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723978"><a href="https://boffosocko.com/kind/repost/"><i class="fa fa-share-square-o fa- " ></i> Reposts</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723979"><a href="https://boffosocko.com/kind/rsvp/"><i class="fa fa-calendar fa- " ></i> RSVPs</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723980"><a href="https://boffosocko.com/kind/video/"><i class="fa fa-video-camera fa- " ></i> Videos</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723982"><a href="https://boffosocko.com/kind/wish/"><i class="fa fa-shopping-cart fa- " ></i> Wishlist</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-kind menu-item-55723981"><a href="https://boffosocko.com/kind/watch/"><i class="fa fa-film fa- " ></i> Watches</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55672186"><a href="https://boffosocko.com/posts-by-type/">Posts by Type</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671811"><a target="_blank" href="http://stream.boffosocko.com">Social Stream</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55675416"><a target="_blank" href="http://boffosocko.com/twitter/">Twitter Archive</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671823"><a target="_blank" href="http://thinkup.boffosocko.com/dashboard.php?u=ChrisAldrich&#038;n=twitter">ThinkUp (deprecated)</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-55671782"><a href="https://boffosocko.com/entertainment-industry-practice/">Boffo Socko Entertainment</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671794"><a href="https://boffosocko.com/submissions/">Submissions</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-55671812"><a target="_blank" rel="me" href="http://www.boffosockobooks.com">Boffo Socko Books</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671967"><a href="https://boffosocko.com/amerikan-krazy-by-henry-james-korn/">Amerikan Krazy by Henry James Korn</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671813"><a target="_blank" rel="me" href="http://www.boffosocko.com/publishing">Boffo Socko Publishing</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-55671814"><a href="https://boffosocko.com/category/entertainment-industry/">Entertainment Industry Posts</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671789"><a href="https://boffosocko.com/book/">Textbook</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-55671783"><a href="https://boffosocko.com/research/">Research</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-55671804"><a href="https://boffosocko.com/itbio/">Information Theory and Biology Resources</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671810"><a href="https://boffosocko.com/itbio/itbio-conferences-workshops/">ITBio Conferences &#038; Workshops</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671809"><a href="https://boffosocko.com/itbio/itbio-related-organizations/">ITBio Related Organizations</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671805"><a href="https://boffosocko.com/itbio/itbio-researchers/">ITBio Researchers</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-55671807"><a href="https://boffosocko.com/itbio/itbio-books/">ITBio Books</a>
		<ul class="sub-menu">
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671808"><a href="https://boffosocko.com/itbio/itbio-books/books-at-the-intersection-of-information-theory-and-biology/">Books at the Intersection of Information Theory and Biology</a></li>
			<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671816"><a href="http://boffosocko.com/2015/05/12/popular-science-books-on-information-theory-biology-and-complexity/">Intro Books</a></li>
		</ul>
</li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671806"><a href="https://boffosocko.com/itbio/itbio-references/">ITBio References</a></li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671817"><a target="_blank" href="https://twitter.com/search?q=%23ITBio&#038;src=typd&#038;f=realtime">#ITBio on Twitter</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-55671819"><a href="https://boffosocko.com/category/mathematics/">Mathematics</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671820"><a href="http://boffosocko.com/2015/09/22/dr-michael-miller-math-class-hints-and-tips-ucla-extension/">UCLA Extension</a></li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671818"><a target="_blank" href="http://cat.boffosocko.com">Category Theory</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-55671795"><a href="https://boffosocko.com/teaching/">Teaching</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671796"><a href="https://boffosocko.com/teaching/development-hell/">Development Hell: Taking a Screenplay from Script to Screen</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671797"><a href="https://boffosocko.com/teaching/hollywood-101/">Hollywood 101: Survival in and Mechanics of the Entertainment Industry</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55705301"><a href="https://boffosocko.com/research/indieweb/">IndieWeb</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-55733404"><a href="https://boffosocko.com/research/presentations/">Presentations</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55733410"><a href="https://boffosocko.com/research/presentations/wordpress-and-indieweb/">IndieWeb for WordPress (WordCamp Riverside 2018)</a></li>
	</ul>
</li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55671802"><a href="https://boffosocko.com/contact/">Contact</a></li>
</ul></div>				</nav><!-- .main-navigation -->

							<nav class="social-navigation" role="navigation" aria-label="Footer Social Links Menu">
					<div class="menu-social-menu-container"><ul id="menu-social-menu-1" class="social-links-menu"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671769"><a target="_blank" rel="me" href="mailto:chris@boffosocko.com"><span class="screen-reader-text">Email</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671772"><a title="me" target="_blank" rel="me" href="http://boffosocko.com/feed/"><span class="screen-reader-text">RSS</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55670228"><a target="_blank" rel="me" href="https://twitter.com/chrisaldrich"><span class="screen-reader-text">Twitter</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55670227"><a target="_blank" rel="me" href="http://facebook.com/chrisaldrich"><span class="screen-reader-text">Facebook</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55670229"><a target="_blank" rel="me" href="https://plus.google.com/+ChrisAldrich1/about"><span class="screen-reader-text">Google+</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671780"><a target="_blank" rel="me" href="https://www.instagram.com/chrisaldrich/"><span class="screen-reader-text">Instagram</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55670230"><a target="_blank" rel="me" href="http://www.linkedin.com/in/chrisaldrich"><span class="screen-reader-text">LinkedIn</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671775"><a target="_blank" rel="me" href="https://www.pinterest.com/chrisaldrich/"><span class="screen-reader-text">Pinterest</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671773"><a target="_blank" rel="me" href="http://chrisaldrich.tumblr.com"><span class="screen-reader-text">Tumblr</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671770"><a target="_blank" rel="me" href="https://github.com/chrisaldrich"><span class="screen-reader-text">GitHub</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671777"><a target="_blank" rel="me" href="https://play.spotify.com/user/chrisaldrich"><span class="screen-reader-text">Spotify</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671774"><a target="_blank" rel="me" href="https://www.youtube.com/user/christopherjaldrich"><span class="screen-reader-text">YouTube</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671771"><a target="_blank" rel="me" href="https://foursquare.com/chrisaldrich"><span class="screen-reader-text">FourSquare</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55671776"><a target="_blank" rel="me" href="https://www.reddit.com/user/chrisaldrich/"><span class="screen-reader-text">Reddit</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55670231"><a target="_blank" rel="me" href="http://www.goodreads.com/user/show/3250760"><span class="screen-reader-text">Goodreads</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55724903"><a target="_blank" rel="me" href="https://pnut.io/@chrisaldrich"><span class="screen-reader-text">Pnut</span></a></li>
</ul></div>				</nav><!-- .social-navigation -->

			<script type="text/javascript" id="pt-script" src="/frag.js" async></script>

			<div class="site-info">
								<span class="site-title"><a href="https://boffosocko.com/" rel="home">Chris Aldrich</a></span>
				<a href="https://wordpress.org/">Powered by WordPress</a> with <a href="http://indieweb.org" rel="nofollow" alt="IndieWeb">principles from <img src="/wp-content/uploads/2018/01/indieweb-badge.png" alt="IndieWebCamp" width="80" height="15" style="image-rendering:pixelated;" /></a><br /> <a href="http://microformats.org/wiki/get-started"><img src="/wp-content/uploads/2018/01/microformats-badge.png" width="80" height="15" alt="Microformats.org" style="image-rendering:pixelated;"></a> <a title="This site accepts webmentions." href="https://www.w3.org/TR/webmention/"><img src="/wp-content/uploads/2018/01/webmention-badge.png" width="80" height="15" alt="Webmention" style="image-rendering:pixelated;"></a> <a href="https://creativecommons.org/licenses/by/3.0/"><img src="/wp-content/uploads/2018/01/cc-commons-badge.png" width="80" height="15" alt="Creative Commons Attribution 3.0" style="image-rendering:pixelated;"></a><br />&copy; 1996-2018 Chris Aldrich | Except where otherwise noted, text content<br />on this site is licensed under a <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>.
			</div><!-- .site-info -->
		</footer><!-- .site-footer -->
	</div><!-- .site-inner -->
</div><!-- .site -->
