{#
/**
 * @file
 * Default theme implementation for IndieWeb Geofield LatLon.
 *
 * Available variables:
 * - lat: The Latitude value.
 * - lon: The Longitude value.
 *
 * @ingroup themeable
 */
#}

<div class="geo">
    <span class="p-latitude">{{ lat }}</span>, <span class="p-longitude">{{ lon }}</span>
</div>