{#
/**
 * @file
 * Theme implementation to display a post context.
 *
 * Available variables:
 *  - name: title of the reference
 *  - content_truncated: truncated text of the reference
 *  - content: full content
 */
#}

<div class="post-context h-cite {{ class }}">

  {% if name %}
    <div class="name">{{ name }}</div>
  {% endif %}

  {% if content_truncated %}
    <div class="p-content">{{ content_truncated }}</div>
  {% endif %}

</div>